<div class="iot-loaction-bar">
    当前位置：
    <a href="#" class="link-text"></a>终端设备监控></a>
    <a class="current">设备IMEI管理</a>

</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="MSISDN(卡号)～">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="IMEI～">
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control js-clearable" placeholder="搜索集团名称或编码～">
                        <span class="input-group-btn">
                    <button class="btn btn-default pd7" type="button"><i class="ico-search-gray"></i></button>
                    </span>
                    </div>
                </div>
                <div class="form-group">
                    <select name="" class="form-control js-selectmenu">
                       <option value=""selected >-选择区域-</option>
                       </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="button">查询</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>MSISDN <span class="text-weaker-color">（卡号）</span></th>
                    <th>旧IMEI</th>
                    <th>终端类型</th>
                    <th>设备品牌</th>
                    <th>设备型号</th>
                    <th>IMEI记录日期</th>
                    <th class="text-right">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>13139362607</td>
                    <td>15291369693</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>2017-11-01&nbsp;05:22</td>
                    <td class="operation">
                        <a href="#" data-toggle="dropdown" class="js-dropdownMenu2">详情</a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>15291369693</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>2017-11-01&nbsp;05:22</td>
                    <td class="operation">
                        <a href="#" data-toggle="dropdown" class="js-dropdownMenu2">详情</a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>15291369693</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>2017-11-01&nbsp;05:22</td>
                    <td class="operation">
                        <a href="#" data-toggle="dropdown" class="js-dropdownMenu2">详情</a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>15291369693</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>2017-11-01&nbsp;05:22</td>
                    <td class="operation">
                        <a href="#" data-toggle="dropdown" class="js-dropdownMenu2">详情</a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>15291369693</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>2017-11-01&nbsp;05:22</td>
                    <td class="operation">
                        <a href="#" data-toggle="dropdown" class="js-dropdownMenu2">详情</a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>15291369693</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>2017-11-01&nbsp;05:22</td>
                    <td class="operation">
                        <a href="#" data-toggle="dropdown" class="js-dropdownMenu2">详情</a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>15291369693</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>2017-11-01&nbsp;05:22</td>
                    <td class="operation">
                        <a href="#" data-toggle="dropdown" class="js-dropdownMenu2">详情</a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>15291369693</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>2017-11-01&nbsp;05:22</td>
                    <td class="operation">
                        <a href="#" data-toggle="dropdown" class="js-dropdownMenu2">详情</a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>15291369693</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>2017-11-01&nbsp;05:22</td>
                    <td class="operation">
                        <a href="#" data-toggle="dropdown" class="js-dropdownMenu2">详情</a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>15291369693</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>2017-11-01&nbsp;05:22</td>
                    <td class="operation">
                        <a href="#" data-toggle="dropdown" class="js-dropdownMenu2">详情</a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>15291369693</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>89036</td>
                    <td>2017-11-01&nbsp;05:22</td>
                    <td class="operation">
                        <a href="#" data-toggle="dropdown" class="js-dropdownMenu2">详情</a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                            </li>
                        </ul>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="page-foot-data">
            <span>共<span class="page-total-num">2</span>页</span>
            <span><span class="page-data-count">23</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
</div>