<div class="modal-header clearfix">
    <span class="modal-title">编辑应用</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <div class="row">
        <div class="compile-app clearfix">
            <div class="col-xs-12">
                <div class="app-name">
                    <div class="form-group">
                        <label>应用名称<span class="text-danger">*</span>：</label>
                        <input type="text" class="form-control" id="edit_app_name" placeholder="输入名称～">
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="compile-app clearfix">
            <div class="col-xs-12">
                <div class="app-adress">
                    <div class="form-group">
                        <label>应用地址<span class="text-danger">*</span>：</label>
                        <input type="text" class="form-control" id="edit_app_url" placeholder="输入地址～">
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="compile-app clearfix">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>应用描述<span class="text-danger">*</span>：</label>
                    <textarea class="form-control" rows="4" id="edit_app_desc"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button class="btn btn-primary edit_app_btn" type="button">提交</button>
        <button class="btn btn-default cancel_btn" type="button">取消</button>
    </div>
</div>