<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">业务规则配置化></a><span class="current">流量预警</span>
</div>
<div class="panel padding-md-hori">
    <div class="flow-warn">
        <div class="panel-heading clearfix">
            <span class="panel-title">成员业务量本月排行榜</span>
            <div class="form-group fr">
                    <button class="btn btn-default" type="button"><i class="ico-add-two margin-sm-right"></i>添加</button>
            </div>
        </div>
        <ul class="flow-list">
            <li class="list-item">
                <div class="clearfix margin-md-btm">
                    <div class="remind-title fl">号码流量实时提醒（480MB）</div>
                    <div class="fr">
                        <a href="#" class="margin-md-right">配置</a>
                        <a href="#" class="margin-md-right">停用</a>
                        <a href="#">报表</a>
                    </div>
                </div>
                <div class="margin-btm">
                    <span class="margin-lg-right">
                        号码数（个）：<span class="text-brand-primary">765</span>
                    </span>
                    <span class="text-weaker-color">创建时间：2017-08-19  12:23:65</span>
                </div>
                <div>
                    <div class="fwb">配置描述：</div>
                    <ul class="describe-list">
                        <li>(1)平台web页面显示告警信息。</li>
                        <li>(2)以API形式推送您的应用（需要开通并配置）。</li>
                        <li>(3)号码自动暂停GPRS功能。<a href="#">展开></a></li>
                    </ul>
                </div>
            </li>

            <li class="list-item">
                <div class="clearfix margin-md-btm">
                    <div class="remind-title fl">号码流量实时提醒（480MB）</div>
                    <div class="fr">
                        <a href="#" class="margin-md-right">配置</a>
                        <a href="#" class="margin-md-right">停用</a>
                        <a href="#">报表</a>
                    </div>
                </div>
                <div class="margin-md-btm">
                    <span class="margin-lg-right">
                        号码数（个）：<span class="text-brand-primary">765</span>
                    </span>
                    <span class="text-weaker-color">创建时间：2017-08-19  12:23:65</span>
                </div>
                <div>
                    <div class="fwb">配置描述：</div>
                    <ul class="describe-list">
                        <li>(1)平台web页面显示告警信息。(1)平台web页面显示告警信息。(1)平台web页面显示告警信息。(1)平台web页面显示告警信息。(1)平台web页面显示告警信息。(1)平台web页面显示告警信息。</li>
                    </ul>
                </div>
            </li>
            <li class="list-item">
                <div class="clearfix margin-md-btm">
                    <div class="remind-title fl">号码流量实时提醒（480MB）</div>
                    <div class="fr">
                        <a href="#" class="margin-md-right">配置</a>
                        <a href="#" class="margin-md-right">停用</a>
                        <a href="#">报表</a>
                    </div>
                </div>
                <div class="margin-md-btm">
                    <span class="margin-lg-right">
                        号码数（个）：<span class="text-brand-primary">765</span>
                    </span>
                    <span class="text-weaker-color">创建时间：2017-08-19  12:23:65</span>
                </div>
                <div>
                    <div class="fwb">配置描述：</div>
                    <ul class="describe-list">
                        <li>开通号码流量实时提醒功能，当流量超过阀值（480MB）时，将提供以下服务：</li>
                        <li>(1)平台web页面显示告警信息。</li>
                        <li>(2)以API形式推送您的应用（需要开通并配置）。</li>
                        <li>(3)号码自动暂停GPRS功能。</li>
                        <li>(4)号码自动订购叠加包 。</li>
                        <li>(1)平台web页面显示告警信息。</li>
                        <li>(2)以API形式推送您的应用（需要开通并配置）。</li>
                        <li>(3)号码自动暂停GPRS功能。</li>
                        <li>(4)号码自动订购叠加包 。</li>
                        <li>(1)平台web页面显示告警信息。</li>
                        <li>(2)以API形式推送您的应用（需要开通并配置）。</li>
                        <li>(3)号码自动暂停GPRS功能。</li>
                        <li>(4)号码自动订购叠加包 。<a href="#">收起></a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item">
                <div class="clearfix margin-md-btm">
                    <div class="remind-title fl">号码流量实时提醒（480MB）</div>
                    <div class="fr">
                        <a href="#" class="margin-md-right">配置</a>
                        <a href="#" class="margin-md-right">停用</a>
                        <a href="#">报表</a>
                    </div>
                </div>
                <div class="margin-md-btm">
                    <span class="margin-lg-right">
                        号码数（个）：<span class="text-brand-primary">765</span>
                    </span>
                    <span class="text-weaker-color">创建时间：2017-08-19  12:23:65</span>
                </div>
                <div>
                    <div class="fwb">配置描述：</div>
                    <ul class="describe-list">
                        <li>暂无描述～</li>
                    </ul>
                </div>
            </li>


        </ul>
        <div class="load-more">剩余2316条，<a href="#" class="text-brand-primary">加载更多></a></div>
    </div>
</div>