<div class="iot-loaction-bar">
    当前位置：
    <a href="#" class="link-text"></a>客户自助服务></a>
    <a class="current">短信接收</a>

</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline">
                <div class="form-group">
                    <label for="" class="control-label">开始时间：</label>
                    <div class="input-group  margin-lg-right">
                        <input type="text" class="form-control js-date" placeholder="-选择时间-">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label">结束时间：</label>
                    <div class="input-group  margin-lg-right">
                        <input type="text" class="form-control js-date placeholder=" -选择时间- "">
                    </div>
                </div>
                <div class="form-group fr">
                    <button class="btn btn-primary" type="button">查询</button>
                </div>
                <div class="form-group fr">
                    <input type="text" class="form-control margin-lg-right" placeholder="请输入卡号～">
                </div>

            </form>
        </div>
    </div>
    <div class="panel panle-default">
        <div class="mess-rec-bar">
            <form class="form-inline">
                <div class="form-group">
                    <button class="btn btn-default" type="button"><i class="ico-download margin-sm-right"></i>上传号码查询模版下载</button>
                    <button class="btn btn-default" type="button"><i class="ico-upload margin-sm-right"></i>上传号码查询</button>
                    <button class="btn btn-default" type="button"><i class="ico-upload margin-sm-right"></i>导出数据</button>
                </div>
            </form>
        </div>

    </div>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>发送号码</th>
                    <th>内容</th>
                    <th>接收时间</th>
                    <th>转发号码</th>
                    <th>变更时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>13139362607</td>
                    <td class="text-omit">状态状态状态</td>
                    <td>2017-04-10</td>
                    <td>18508053246</td>
                    <td class="text-weaker-color">2017-08-11</td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td class="text-omit">状态</td>
                    <td>2017-04-10</td>
                    <td>18508053246</td>
                    <td class="text-weaker-color">2017-08-11</td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td class="text-omit">状态状态状态</td>
                    <td>2017-04-10</td>
                    <td>18508053246</td>
                    <td class="text-weaker-color">2017-08-11</td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td class="text-omit">状态状态状态</td>
                    <td>2017-04-10</td>
                    <td>18508053246</td>
                    <td class="text-weaker-color">2017-08-11</td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td class="text-omit">状态状态状态</td>
                    <td>2017-04-10</td>
                    <td>18508053246</td>
                    <td class="text-weaker-color">2017-08-11</td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td class="text-omit">状态状态状态</td>
                    <td>2017-04-10</td>
                    <td>18508053246</td>
                    <td class="text-weaker-color">2017-08-11</td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td class="text-omit">状态状态状态</td>
                    <td>2017-04-10</td>
                    <td>18508053246</td>
                    <td class="text-weaker-color">2017-08-11</td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td class="text-omit">状态状态状态</td>
                    <td>2017-04-10</td>
                    <td>18508053246</td>
                    <td class="text-weaker-color">2017-08-11</td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td class="text-omit">状态状态状态</td>
                    <td>2017-04-10</td>
                    <td>18508053246</td>
                    <td class="text-weaker-color">2017-08-11</td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td class="text-omit">状态状态状态</td>
                    <td>2017-04-10</td>
                    <td>18508053246</td>
                    <td class="text-weaker-color">2017-08-11</td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td class="text-omit">状态状态状态</td>
                    <td>2017-04-10</td>
                    <td>18508053246</td>
                    <td class="text-weaker-color">2017-08-11</td>
                </tr>








            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="page-foot-data">
            <span>共<span class="page-total-num">2</span>页</span>
            <span><span class="page-data-count">23</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
</div>