<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">业务监控告警></a><a class="current">用户使用情况告警配置</a>
</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline">
                <div class="form-group">
                    <select name="" class="form-control js-selectmenu">
                       <option value="">不限业务类型</option>
                       </select>
                </div>
                <div class="form-group">
                    <select name="" class="form-control js-selectmenu">
                       <option value="">全部限制类型</option>
                       </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="button">查询</button>
                </div>
                <div class="form-group fr">
                    <button class="btn btn-default" type="button"><i class="ico-add-two margin-sm-right"></i>添加</button>
                    <button class="btn btn-default" type="button"><i class="ico-change margin-sm-right"></i>修改</button>
                    <button class="btn btn-default" type="button"><i class="ico-del margin-sm-right"></i>删除</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </th>
                    <th>配置名称</th>
                    <th>业务类型</th>
                    <th>限制类型</th>
                    <th>限制值</th>
                    <th>值单位</th>
                    <th>配置时间</th>
                    <th>号码状态</th>
                    <th class="operation">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states valid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                        <!--点击图标变色时，i标签加上active这个类便可-->
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states valid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down"></i>
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states valid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states valid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states invalid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states valid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states valid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states valid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states valid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states valid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states valid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down active"></i>
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td><span class="states valid">有效</span></td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="page-foot-data">
            <span>共<span class="page-total-num">2</span>页</span>
            <span><span class="page-data-count">23</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
</div>