<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">客户自助服务></a><a class="current">异动告警</a>
</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="button">查询</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!--表格滚动条-->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-omit">公告标题</th>
                        <th class="text-omit">公告类型</th>
                        <th class="text-omit">公告内容</th>
                        <th class="text-omit">发布时间</th>
                        <th class="operation text-omit">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>系统上线</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>朝韩军事会谈告吹 韩国敦促朝鲜早日…</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头asdfasdfakjsdfhkajdsfsdkjfhkajsdfhkahsdfskdfhasdfahsfkasdfhasfk...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>系统上线</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>系统上线</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>系统上线</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>系统上线</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>系统上线</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>系统上线</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>系统上线</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>系统上线</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>系统上线</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>系统上线</td>
                        <td>通知</td>
                        <td>周表示，近年来，中印关系总体保持发展头...</td>
                        <td class="text-omit">2017-08-11</td>
                        <td class="operation text-omit">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="page-foot-data">
            <span>共<span class="page-total-num">2</span>页</span>
            <span><span class="page-data-count">23</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
</div>