<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">运营分析&gt;&gt;</a><span class="current">用户情况日数据</span>
</div>
<div class="panel">
	<div class="right-chart-layout clearfix">
		<div class="form-side">
			<form>
				<div class="form-group">
					<label>查询范围</label>
					<div class="input-group">
						<input type="text" class="form-control js-datetimepicker" name="" placeholder="-选择时间-">
					</div>
				</div>
				<div class="form-group">
					<label>至</label>
					<div class="input-group">
						<input type="text" class="form-control js-datetimepicker" name="" placeholder="-选择时间-">
					</div>
				</div>
				<div class="form-group">
					<label>集团名称</label>
					<div class="input-group">
						<input type="text" class="form-control js-fixed" name="" placeholder="-搜索集团名称或编码-">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-search"></span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label>区域</label>
					<div>
						<select class="form-control js-combobox">
							<option selected="selected">-选择区域-</option>
						</select>
					</div>
				</div>
			</form>
		</div>
		<div class="chart-side">
			<div class="margin-lg">
				<strong class="text-stress f14">集团名称</strong>
				<span class="text-weaker-color">(2017-12-12~2018-12-12)</span>
			</div>
			<div id='js-bar' class="chart-h260"></div>
		</div>
	</div>
</div>
<div class="fbox"></div>