<div class="panel search-result-wrap">
	<div class="search-tips">
		搜索结果
	</div>
	<ul class="list-group">
		<li class="list-group-item active">
			<a href="">
				<span class="pull-right margin-lg-left text-muted">145641515</span>
				<div class="text-overflow">中兴软创股份有限公中兴软创股份有限公司司</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="">
				<span class="pull-right margin-lg-left text-muted">145641515</span>
				<div class="text-overflow">中兴软创股份有限公中兴软创股份有限公司司</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="">
				<span class="pull-right margin-lg-left  text-muted">145641515</span>
				<div class="text-overflow">中兴软创股份有限公中兴软创股份有限公司有限公司司司</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="">
				<span class="pull-right margin-lg-left  text-muted">145641515</span>
				<div class="text-overflow">中兴软创股份有限公中兴软创股司</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="">
				<span class="pull-right margin-lg-left  text-muted">145641515</span>
				<div class="text-overflow">中兴软创股份有限公中兴软创</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="">
				<span class="pull-right margin-lg-left  text-muted">145641515</span>
				<div class="text-overflow">中兴软创股份有限</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="">
				<span class="pull-right margin-lg-left  text-muted">145641515</span>
				<div class="text-overflow">中兴软创股份有限公中兴软创股份有限公司司</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="">
				<span class="pull-right margin-lg-left  text-muted">145641515</span>
				<div class="text-overflow">中兴软创股份有限公中兴软创股份有限公司司</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="">
				<span class="pull-right margin-lg-left  text-muted">145641515</span>
				<div class="text-overflow">中兴软创股份有限公中兴软创股份有限公司司</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="">
				<span class="pull-right margin-lg-left  text-muted">145641515</span>
				<div class="text-overflow">中兴软创股份有限公中兴软创股份有限公司司</div>
			</a>
		</li>
		<li class="list-group-item">
			<a href="">
				<span class="pull-right margin-lg-left  text-muted">145641515</span>
				<div class="text-overflow">中兴软创股份有限公中兴软创股份有限公司司</div>
			</a>
		</li>
		
	</ul>
</div>