<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">客户自助服务></a><a class="current">短信发送(群发)</a>
</div>

<div class="iot-panel-group">
    <div class="panel">
        <div class="message-send-box">
            <ul class="row">
                <li class="col-xs-4">
                    <div class="msb-item-gd active">
                        <span class="send-tips">群发</span>
                        <p class="remark-tips">限制20个</p>
                    </div>
                </li>
                <li class="col-xs-4">
                    <div class="msb-item-batch">
                        <span class="send-tips">上传批量发送</span>
                        <p class="remark-tips">批量发送文件大小限制10M</p>
                    </div>
                </li>
                <li class="col-xs-4">
                    <div class="msb-item-grouping">
                        <span class="send-tips">分组发送</span>
                        <p class="remark-tips">最多可以发送100个群</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-xs-1 control-label">接收号码：</label>
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-3">
                                <input type="text" class="form-control" name="">
                            </div>
                            <div class="col-xs-9">
                                <button class="btn btn-default" type="button"><i class="ico-add-two margin-sm-right"></i>添加</button>
                                <button class="btn btn-default" type="button"><i class="ico-upload margin-sm-right"></i>上传号码文件</button>
                                <button class="btn btn-default" type="button" placeholder=""><i class="ico-download margin-sm-right"></i>下载批量发送模版</button>
                            </div>
                        </div>
                        <div class="margin-sm-top">
                            <ul class="label-list">
                                <li class="list-item">
                                    23534235345<i class="ico-close2"></i>
                                </li>
                                <li class="list-item">
                                    23534235345<i class="ico-close2"></i>
                                </li>
                                <li class="list-item">
                                    23534235345<i class="ico-close2"></i>
                                </li>
                                <li class="list-item">
                                    23534235345<i class="ico-close2"></i>
                                </li>
                                <li class="list-item">
                                    23534235345<i class="ico-close2"></i>
                                </li>
                                <li class="list-item">
                                    23534235345<i class="ico-close2"></i>
                                </li>
                                <li class="list-item">
                                    23534235345<i class="ico-close2"></i>
                                </li>
                                <li class="list-item">
                                    2353423534<i class="ico-close2"></i>
                                </li>
                                <li class="list-item">
                                    23534235345<i class="ico-close2"></i>
                                </li>
                                <li class="list-item">
                                    23534235345<i class="ico-close2"></i>
                                </li>
                                <li class="list-item">
                                    23534235345<i class="ico-close2"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-1 control-label">内容：</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" rows="3" placeholder="限制100字"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-1 control-label">发送方式：</label>
                    <div class="col-xs-11">
                        <div class="radio">
                            <label>
                        <input class="js-check" type="radio" name="" value="orange">即时发送
                    </label>
                            <label>
                        <input class="js-check margin-lg-left" type="radio" name="" value="apple">定时发送
                    </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-1 control-label">格式编码：</label>
                    <div class="col-xs-11">
                        <div class="radio">
                            <label>
                        <input class="js-check" type="radio" name="" value="">UCS2<span class="text-weaker-color">（支持中文，英文和数字）</span>
                    </label>
                            <label>
                        <input class="js-check margin-lg-left" type="radio" name="" value="apple">ASCII<span class="text-weaker-color">（仅支持数字和英文，发送内容不带签名）</span>
                    </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-1 control-label">发送时间：</label>
                    <div class="col-xs-2">
                        <div class="input-group">
                            <input type="text" class="form-control js-date" placeholder="00:00:00">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-1 control-label">发送端口：</label>
                    <div class="col-xs-2">
                        <select name="" id="js-selectmenu" class="form-control">
                       <option value="">18065434212</option>
                       </select>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-1 control-label"></label>
                    <div class="col-xs-2">
                       <button class="btn btn-primary" type="button">确定</button>
                    <button class="btn btn-default" type="button">重置</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>