<div class="iot-loaction-bar">
    当前位置：<span>权限管理></span><span class="current">用户管理</span>
</div>

<div class="panel">
    <div class="row">
        <div class="col-xs-2">
            <div class="side-bar-tree">
                <div class="company-tree"></div>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="iot-panel-group bdl">
                <div class="panel">
                    <div class="panel-control-bar">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="请输入组织结构">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button">查询</button>
                            </div>
                            <div class="form-group fr">
                                <button class="btn btn-default" type="button"><i class="ico-add-gray margin-sm-right"></i>新增用户</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">

                    <table class="table table-striped organ-table">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>姓名</th>
                                <th>部门</th>
                                <th>状态</th>
                                <th>生效时间</th>
                                <th>失效时间</th>
                                <th class="text-right">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>18553744268</td>
                                <td class="text-weaker-color">易小猫咪</td>
                                <td class="text-weaker-color">1123</td>
                                <td class="text-weaker-color">部门</td>
                                <td class="text-weaker-color">2017-09-14</td>
                                <td class="text-weaker-color">2017-04-03</td>
                                <td class="operation">
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                                                <i class="ico-pull-down"></i><!--点击图标变色时，i标签加上active这个类便可-->
                        
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">详细信息</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">分配角色</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>18553744268</td>
                                <td class="text-weaker-color">易小猫咪</td>
                                <td class="text-weaker-color">1123</td>
                                <td class="text-weaker-color">部门</td>
                                <td class="text-weaker-color">2017-09-14</td>
                                <td class="text-weaker-color">2017-04-03</td>
                                <td class="operation">
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                                                <i class="ico-pull-down"></i><!--点击图标变色时，i标签加上active这个类便可-->
                        
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">详细信息</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">分配角色</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>18553744268</td>
                                <td class="text-weaker-color">易小猫咪</td>
                                <td class="text-weaker-color">1123</td>
                                <td class="text-weaker-color">部门</td>
                                <td class="text-weaker-color">2017-09-14</td>
                                <td class="text-weaker-color">2017-04-03</td>
                                <td class="operation">
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                                                <i class="ico-pull-down"></i><!--点击图标变色时，i标签加上active这个类便可-->
                        
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">详细信息</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">分配角色</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>18553744268</td>
                                <td class="text-weaker-color">易小猫咪</td>
                                <td class="text-weaker-color">1123</td>
                                <td class="text-weaker-color">部门</td>
                                <td class="text-weaker-color">2017-09-14</td>
                                <td class="text-weaker-color">2017-04-03</td>
                                <td class="operation">
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                                                <i class="ico-pull-down"></i><!--点击图标变色时，i标签加上active这个类便可-->
                        
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">详细信息</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">分配角色</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>18553744268</td>
                                <td class="text-weaker-color">易小猫咪</td>
                                <td class="text-weaker-color">1123</td>
                                <td class="text-weaker-color">部门</td>
                                <td class="text-weaker-color">2017-09-14</td>
                                <td class="text-weaker-color">2017-04-03</td>
                                <td class="operation">
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                                                <i class="ico-pull-down"></i><!--点击图标变色时，i标签加上active这个类便可-->
                        
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">详细信息</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">分配角色</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>18553744268</td>
                                <td class="text-weaker-color">易小猫咪</td>
                                <td class="text-weaker-color">1123</td>
                                <td class="text-weaker-color">部门</td>
                                <td class="text-weaker-color">2017-09-14</td>
                                <td class="text-weaker-color">2017-04-03</td>
                                <td class="operation">
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                                                <i class="ico-pull-down"></i><!--点击图标变色时，i标签加上active这个类便可-->
                        
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">详细信息</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">分配角色</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>18553744268</td>
                                <td class="text-weaker-color">易小猫咪</td>
                                <td class="text-weaker-color">1123</td>
                                <td class="text-weaker-color">部门</td>
                                <td class="text-weaker-color">2017-09-14</td>
                                <td class="text-weaker-color">2017-04-03</td>
                                <td class="operation">
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                                                <i class="ico-pull-down"></i><!--点击图标变色时，i标签加上active这个类便可-->
                        
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">详细信息</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">分配角色</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>18553744268</td>
                                <td class="text-weaker-color">易小猫咪</td>
                                <td class="text-weaker-color">1123</td>
                                <td class="text-weaker-color">部门</td>
                                <td class="text-weaker-color">2017-09-14</td>
                                <td class="text-weaker-color">2017-04-03</td>
                                <td class="operation">
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                                                <i class="ico-pull-down"></i><!--点击图标变色时，i标签加上active这个类便可-->
                        
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">详细信息</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">分配角色</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>18553744268</td>
                                <td class="text-weaker-color">易小猫咪</td>
                                <td class="text-weaker-color">1123</td>
                                <td class="text-weaker-color">部门</td>
                                <td class="text-weaker-color">2017-09-14</td>
                                <td class="text-weaker-color">2017-04-03</td>
                                <td class="operation">
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                                                <i class="ico-pull-down"></i><!--点击图标变色时，i标签加上active这个类便可-->
                        
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">详细信息</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">分配角色</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>18553744268</td>
                                <td class="text-weaker-color">易小猫咪</td>
                                <td class="text-weaker-color">1123</td>
                                <td class="text-weaker-color">部门</td>
                                <td class="text-weaker-color">2017-09-14</td>
                                <td class="text-weaker-color">2017-04-03</td>
                                <td class="operation">
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                                                <i class="ico-pull-down"></i><!--点击图标变色时，i标签加上active这个类便可-->
                        
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">详细信息</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">分配角色</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>18553744268</td>
                                <td class="text-weaker-color">易小猫咪</td>
                                <td class="text-weaker-color">1123</td>
                                <td class="text-weaker-color">部门</td>
                                <td class="text-weaker-color">2017-09-14</td>
                                <td class="text-weaker-color">2017-04-03</td>
                                <td class="operation">
                                    <div class="btn-group pull-right">
                                        <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                                                <i class="ico-pull-down"></i><!--点击图标变色时，i标签加上active这个类便可-->
                        
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">详细信息</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">分配角色</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer clearfix page-foot">
                    <div class="page-foot-data">
                        <span>共<span class="page-total-num">2</span>页</span>
                        <span><span class="page-data-count">23</span>条数据</span>
                    </div>
                    <div class="page-foot-form">
                        <div class="input-group col-md-14">
                            <div id="pagination-demo" class="js-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>