<div class="iot-loaction-bar">
    当前位置：
    <a href="#" class="link-text"></a>运营分析></a>
    <a class="current">成员业务量本月排行榜</a>

</div>
<div>
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline">
                <div class="form-group">
                    <label for="" class="control-label">集团名称</label>
                    <div class="input-group">
                        <input type="text" class="form-control js-clearable" placeholder="输入卡号查询">
                        <span class="input-group-btn">
                    <button class="btn btn-default pd7" type="button"><i class="ico-search-gray"></i></button>
                    </span>
                    </div>
                </div>

                <div class="form-group">
                    <select name="" class="form-control js-selectmenu">
                       <option value=""selected >-选择区域-</option>
                       </select>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control js-date" placeholder="-年-">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label">--</label>
                    <div class="input-group">
                        <input type="text" class="form-control js-date" placeholder="-月-">
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="button">查询</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="button">重置</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix pd-lr-36">
                        <span class="panel-title">流量</span><span class="text-weaker-color">(MB)</span>
                    </div>
                    <div class="panel-body pd-lr-36">
                        <div>

                            <ul class="idx-work-ranking">
                                <li class="item">
                                    <div class="item-ranking one">1</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking two">2</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking three">3</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">4</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">5</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">6</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">7</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">8</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">9</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">10</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                            </ul>
                        </div>
                        <!-- idx-msg-box end -->
                    </div>
                </div>
                <!-- panel end -->
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix pd-lr-36">
                        <span class="panel-title">短信</span><span class="text-weaker-color">(条)</span>

                    </div>
                    <div class="panel-body pd-lr-36">
                        <div>

                            <ul class="idx-work-ranking">
                                <li class="item">
                                    <div class="item-ranking one">1</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking two">2</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking three">3</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">4</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">5</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">6</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">7</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">8</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">9</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">10</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                            </ul>
                        </div>
                        <!-- idx-msg-box end -->
                    </div>
                </div>
                <!-- panel end -->
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix pd-lr-36">
                        <span class="panel-title">通话</span><span class="text-weaker-color">(分钟)</span>

                    </div>
                    <div class="panel-body pd-lr-36">
                        <div>

                            <ul class="idx-work-ranking">
                                <li class="item">
                                    <div class="item-ranking one">1</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking two">2</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking three">3</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">4</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">5</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">6</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">7</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">8</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">9</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">10</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                            </ul>
                        </div>
                        <!-- idx-msg-box end -->
                    </div>
                </div>
                <!-- panel end -->
            </div>
        </div>
    </div>

</div>