<div class="modal-header clearfix">
    <span class="modal-title">修改配置</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <div class="form-group">
        <label>配置名称<span class="text-danger">*</span>：</label>
        <div><input type="text" class="form-control" placeholder="配置名称" id="trigger_name"></div>
    </div>
    <div class="form-group js-edit hidden">
        <label>号码列表：</label>
        <a href="#" class="margin-md-right" id="view">查看已配置成员</a><a href="#" class="margin-md-right" id="add">添加成员</a><a href="#" id="delete">删除成员</a>
    </div>
    <div class="form-group js-add hidden" id="mem_choose_type">
        <label>号码列表：</label>
        <div>
            <label><input class="js-check margin-md-right" type="radio" name="mem_choose_type_option" id="all" ></label>全部成员（仅物联卡）
        </div>
        <div>
            <label><input class="js-check margin-md-right" type="radio" name="mem_choose_type_option" id="part"></label>选择部分成员<a href="#" class="margin-lg-left hidden" id="part_mem_show">选择成员</a>
        </div>
        <div>
            <label><input class="js-check margin-md-right" type="radio" name="mem_choose_type_option" id="upload"></label>上传Excel
            <label for="" class="fwn margin-md-right hidden text-primary" id="download_templet" style="cursor: pointer;">模板下载</label>
            <label for="trigger_file" class="fwn hidden text-primary"  id="upload_mem_show" style="cursor: pointer;">上传附件</a></label>
            <input type="file" id="trigger_file" style="visibility: hidden;">
        </div>
    </div>
    <div class="form-group" id="action_type">
        <label>提醒能力：</label>
        <div>
            <label><input class="js-check single_checkbox" type="checkbox" name="checkbox_option" value="API|API_ABILITY_CODE"></label>
            API<span class="text-weaker-color ">（具体请您在API应用管理去开通并配置流量实时提醒推送API）</span>
        </div>
        <div>
             <label> <input class="js-check single_checkbox" type="checkbox" name="checkbox_option" value="APP|APP_PARAM"></label>
           APP<span class="text-weaker-color ">（具体信息请登录上海物联网app客户端进行查看）</span>
        </div>
    </div>
    <div class="form-group">
        <label>配置描述：</label>
        <div>
            <ul class="change-configure-list" id="trigger_desc">
                <li>开通号码激活实时提醒功能，当号码由沉默期恢复正常状态时，将提供以下服务：</li>
                <li class="tip auto_tip API_tip hidden">（1）以API形式推送您的应用（需要开通并配置）。</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label>注意：</label>
        <div class="text-danger">此配置需要订购物联卡号码激活实时提醒套餐，并会在"提交"生效后订购完成。
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group no-margin-bottom">
        <button class="btn btn-primary" type="button" id="config_save_btn">提交</button>
        <button class="btn btn-default" type="button" id="cancel_btn">取消</button>
    </div>
</div>
<!-- 
    以下div与旧版本后端兼容，旧版本要求发送配置描述。但在页面上不显示
 -->
<div>
    <table style="display: none;">
        <tr> 
           <th>配置描述：</th> 
           <td id="trigger_desc_send">
            <span class="tip">开通号码激活实时提醒功能，当号码由沉默期恢复正常状态时，将提供以下服务：<br/></span>  
            <span class="tip auto_tip API_tip hidden">（1）以API形式推送您的应用（需要开通并配置）。<br/></span> 
           </td> 
          </tr> 
    </table>
</div>