<div class="iot-loaction-bar">
    当前位置：
    <a href="#" class="link-text"></a>统一视图></a>
    <a class="current">菜单一</a>

</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group  margin-lg-right">
                        <input type="text" class="form-control js-date" placeholder="输入卡号~">
                    </div>
                </div>
                <div class="form-group">
                    <select name="" class="form-control js-selectmenu">
                       <option value="">全部品牌</option>
                       </select>
                </div>
                <div class="form-group">
                    <select name="" class="form-control js-selectmenu">
                       <option value="">不限状态</option>
                       </select>
                </div>
                <div class="form-group">
                    <select name="" class="form-control js-selectmenu">
                       <option value="">阈值</option>
                       </select>
                </div>

                <div class="form-group fr">
                    <button class="btn btn-primary" type="button">查询</button>
                </div>


            </form>
        </div>
    </div>
    <div class="panel panle-default">
        <div class="mess-rec-bar">
            <form class="form-inline">
                <div class="form-group">
                    <button class="btn btn-default" type="button"><i class="ico-download margin-sm-right"></i>下载成员号码清单</button>
                    <button class="btn btn-default" type="button"><i class="ico-download margin-sm-right"></i>下载号码模板</button>
                    <button class="btn btn-default" type="button"><i class="ico-upload margin-sm-right"></i>上传成员号码清单</button>
                </div>
            </form>
        </div>

    </div>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>MSISDN<span class="text-weaker-color">（卡号）</span></th>
                    <th>卡品牌</th>
                    <th>卡状态</th>
                    <th>在线</th>
                    <th>本月流量用量</th>
                    <th>到达阈值</th>
                    <th>余额</th>
                    <th>当月话费</th>
                    <th class="text-right">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>13139362607</td>
                    <td>物联网</td>
                    <td class="text-success">已激活</td>
                    <td><span class="states valid">在线</span></td>
                    <td>97797</td>
                    <td><i class="ico-correct2"></i></td>
                    <td>911</td>
                    <td>24</td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                        <!--点击图标变色时，i标签加上active这个类便可-->
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>物联网</td>
                    <td class="text-success">已激活</td>
                    <td><span class="states valid">在线</span></td>
                    <td>97797</td>
                    <td></td>
                    <td>911</td>
                    <td>24</td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                        <!--点击图标变色时，i标签加上active这个类便可-->
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>物联网</td>
                    <td class="text-success">已激活</td>
                    <td><span class="states valid">在线</span></td>
                    <td>97797</td>
                    <td></td>
                    <td>911</td>
                    <td>24</td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                        <!--点击图标变色时，i标签加上active这个类便可-->
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>物联网</td>
                    <td class="text-warning">可激活</td>
                    <td><span class="states valid">在线</span></td>
                    <td>97797</td>
                    <td><i class="ico-correct2"></i></td>
                    <td>911</td>
                    <td>24</td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down active"></i>
                        <!--点击图标变色时，i标签加上active这个类便可-->
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>物联网</td>
                    <td class="text-danger">已停用</td>
                    <td><span class="states valid">在线</span></td>
                    <td>97797</td>
                    <td><i class="ico-correct2"></i></td>
                    <td>911</td>
                    <td>24</td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                        <!--点击图标变色时，i标签加上active这个类便可-->
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>物联网</td>
                    <td class="text-danger">已停用</td>
                    <td><span class="states valid">在线</span></td>
                    <td>97797</td>
                    <td><i class="ico-correct2"></i></td>
                    <td>911</td>
                    <td>24</td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                        <!--点击图标变色时，i标签加上active这个类便可-->
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>物联网</td>
                    <td class="text-danger">已停用</td>
                    <td><span class="states valid">在线</span></td>
                    <td>97797</td>
                    <td><i class="ico-correct2"></i></td>
                    <td>911</td>
                    <td>24</td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                        <!--点击图标变色时，i标签加上active这个类便可-->
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>物联网</td>
                    <td class="text-weaker-color">已失效</td>
                    <td><span class="states invalid">离线</span></td>
                    <td>97797</td>
                    <td></td>
                    <td>911</td>
                    <td>24</td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                        <!--点击图标变色时，i标签加上active这个类便可-->
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>物联网</td>
                    <td class="text-weaker-color">已失效</td>
                    <td><span class="states valid">在线</span></td>
                    <td>97797</td>
                    <td></td>
                    <td>911</td>
                    <td>24</td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                        <!--点击图标变色时，i标签加上active这个类便可-->
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>13139362607</td>
                    <td>物联网</td>
                    <td class="text-weaker-color">已失效</td>
                    <td><span class="states valid">在线</span></td>
                    <td>97797</td>
                    <td><i class="ico-correct2"></i></td>
                    <td>911</td>
                    <td>24</td>
                    <td class="operation">
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="js-dropdownMenu2" type="button">               
                        <i class="ico-pull-down   "></i>
                        <!--点击图标变色时，i标签加上active这个类便可-->
                    </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">查看已配置成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">增加成员</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">删除成员</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>






            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="page-foot-data">
            <span>共<span class="page-total-num">2</span>页</span>
            <span><span class="page-data-count">23</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
</div>