<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">成员管理></a><a class="current">成员管理</a>
</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline" onkeydown="if(event.keyCode==13){return false;}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入MSISDN卡号，ICCID，IMSI" id="search_input" style="width:250px;">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="button" id="btn_search">查询</button>
                </div>
                <div class="form-group fr">
                    <button class="btn btn-default" type="button" id="btn_downloadInfo"><i class="ico-download margin-sm-right"></i>下载成员号码清单</button>
                    <button class="btn btn-default" type="button" id="btn_downloadTemp"><i class="ico-download margin-sm-right"></i>下载号码模版</button>
                    <label class="btn btn-default" for="cust_mem_info_file"><i class="ico-upload margin-sm-right" ></i>上传号码下载成员号码清单</label>
                </div>
            </form>
            <input type="file" id="cust_mem_info_file" style="visibility:hidden;height:0px;">
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped" id="xtab">
        </table>
        <table style="display:none;">
                <tr id="detail_tr">
                    <td colspan="11" class="no-border-bg">
                        <div class="expand clearfix">
                            <ul>
                                <li>卡号：<span name="msisdn"></span></li>
                                <li>ICCID：<span name="iccid"></span></li>
                                <li>IMSI：<span name="imsi"></span></li>
                                <li>APN：<span name="apn"></span></li>
                                <li>卡品牌：<span name="card_brand_type"></span></li>
                                <li>卡号状态：<span name="card_status"></span></li>
                                <li>是否加入流量池：<span name="is_orderflows">否</span></li>
                                <li>本月使用流量：<span name="used_gprs">0MB</span></li>
                                <li>本月使用短信：<span name="used_msg">0</span>条</li>
                                <li>本月使用通话分钟数：<span name="used_voice">0</span>分钟</li>
                            </ul>
                        </div>
                    </td>
                </tr>
        </table>
    </div>
    <div class="panel-footer clearfix" >
        <div class="page-foot-data">
            <span>共<span class="page-total-num">0</span>页</span>
            <span><span class="page-data-count">0</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
</div>