<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">成员管理><a href="#" class="link-text">成员删除></a><span class="current">确认提交</span>
    <a class="fr text-brand-primary js-back-btn" href="#">返回上一层</a>
</div>
<div class="panel">
    <div class="panel-select-bar">
        <ul>
            <li class="select-item">
                <a href="#">
                    <span class="num-circle active">1</span>
                    <span class="text-brand-primary">选号码</span>
                </a>
                <i class="ico-right"></i>
            </li>
            <li class="select-item">
                <a href="#">
                    <span class="num-circle active">2</span>
                    <span class="text-weaker-color">确认提交</span>
                </a>
            </li>
        </ul>
    </div>

</div>
<div class="panel">
    <div class="order-finish">
        <div class="margin-md-btm"><img src="frm/template/images/successs.png" id="img_result" alt=""></div>
        <div class="text-finish">提交成功！</div>
        <div class="text-finish" id="res_message"></div>
        <ul class="order-list">

        </ul>
        <div class="margin-lg-top"><a href="#" id="btn_back">返回</a></div>
    </div>
</div>