<div class="iot-layout-panel">
    <div class="row">
        <div class="col-xs-6">
            <div class="idx-user-info">
                <div class="info-title">用户情况概述</div>
                <div class="row">
                    <div class="col-xs-4 info-col">
                        <div class="info-col-tit">当前用户</div>
                        <div class="info-col-cont">24176个</div>
                    </div>
                    <div class="col-xs-4 info-col">
                        <div class="info-col-tit">本月新增用户</div>
                        <div class="info-col-cont">876个</div>
                    </div>
                    <div class="col-xs-4 info-col">
                        <div class="info-col-tit">本月退订用户</div>
                        <div class="info-col-cont">112个</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- col-xs-6 end -->
        <div class="col-xs-6">
            <div class="idx-group-info">
                <div class="info-title">集团业务概览</div>
                <div class="row">
                    <div class="col-xs-4 info-col">
                        <div class="info-col-tit">本月已用流量</div>
                        <div class="info-col-cont">1234.12MB</div>
                    </div>
                    <div class="col-xs-4 info-col">
                        <div class="info-col-tit">本月已用短信</div>
                        <div class="info-col-cont">654条</div>
                    </div>
                    <div class="col-xs-4 info-col">
                        <div class="info-col-tit">本月已用语言</div>
                        <div class="info-col-cont">23441分钟</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- col-xs-6 end -->
    </div>
    <!-- row end -->
</div>
<!-- iot-layout-panel end -->

<div class="iot-layout-panel">
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">号码状态分布</span>
                </div>
                <div class="panel-body">
                    <div class="idx-chart-box js-chart-1"></div>
                </div>
            </div>
            <!-- panel end -->
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">号码品牌分布</span>
                </div>
                <div class="panel-body">
                    <div class="idx-chart-box js-chart-2"></div>
                </div>
            </div>
            <!-- panel end -->
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">流量使用情况分布</span>
                </div>
                <div class="panel-body">
                    <ul class="idx-flow-info">
                        <li class="info-item">
                            <div class="info-item-tit">省内流量</div>
                            <div class="info-item-num">120.34MB</div>
                            <div class="info-item-progress">
                                <div class="progress-line" style="width: 80%"></div>
                            </div>
                        </li>
                        <li class="info-item">
                            <div class="info-item-tit">漫游流量</div>
                            <div class="info-item-num">24.23MB</div>
                            <div class="info-item-progress">
                                <div class="progress-line" style="width: 20%"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- panel end -->
        </div>
    </div>
</div>
<!-- iot-layout-panel end -->


<div class="iot-layout-panel">
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span class="panel-title">成员业务量本月排行榜</span>
                    <div class="pull-right">
                        <a href="#" class="text-primary">更多</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="idx-msg-box">
                        <div class="btn-group btn-group-justified btn-group-tabs">
                            <a href="#" class="btn btn-default activtead">流量</a>
                            <a href="#" class="btn btn-default">短信</a>
                            <a href="#" class="btn btn-default">通话</a>
                        </div>
                        <ul class="idx-work-ranking">
                            <li class="item">
                                <div class="item-ranking one">1</div>
                                <div class="item-cont">
                                    <div class="item-work-num">15375654321</div>
                                </div>
                                <div class="item-number">1345</div>
                            </li>
                            <li class="item">
                                <div class="item-ranking two">2</div>
                                <div class="item-cont">
                                    <div class="item-work-num">15375654321</div>
                                </div>
                                <div class="item-number">1345</div>
                            </li>
                            <li class="item">
                                <div class="item-ranking three">3</div>
                                <div class="item-cont">
                                    <div class="item-work-num">15375654321</div>
                                </div>
                                <div class="item-number">1345</div>
                            </li>
                            <li class="item">
                                <div class="item-ranking">4</div>
                                <div class="item-cont">
                                    <div class="item-work-num">15375654321</div>
                                </div>
                                <div class="item-number">1345</div>
                            </li>
                            <li class="item">
                                <div class="item-ranking">5</div>
                                <div class="item-cont">
                                    <div class="item-work-num">15375654321</div>
                                </div>
                                <div class="item-number">1345</div>
                            </li>
                        </ul>
                    </div>
                    <!-- idx-msg-box end -->
                </div>
            </div>
            <!-- panel end -->
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span class="panel-title">异动告警</span>
                    <div class="pull-right">
                        <a href="#" class="text-primary">更多</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="idx-msg-box">
                        <ul class="idx-changes-warn">
                            <li class="warn-item">
                                <div class="warn-item-container">
                                    <div class="warn-item-main">
                                        <div class="warn-item-tit">机卡不匹配号码总数</div>
                                        <div class="warn-item-cont">2017-12-13</div>
                                    </div>
                                </div>
                                <a class="warn-item-num" href="#">1</a>
                            </li>
                            <li class="warn-item">
                                <div class="warn-item-container">
                                    <div class="warn-item-main">
                                        <div class="warn-item-tit">业务使用量超标的号码总素</div>
                                        <div class="warn-item-cont">2017-12-13</div>
                                    </div>
                                </div>
                                <a class="warn-item-num" href="#">13</a>
                            </li>
                            <li class="warn-item">
                                <div class="warn-item-container">
                                    <div class="warn-item-main">
                                        <div class="warn-item-tit">机卡不匹配号码总数机卡不匹配...</div>
                                        <div class="warn-item-cont">2017-12-13</div>
                                    </div>
                                </div>
                                <a class="warn-item-num more-num" href="#">99+</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span class="panel-title">订购列表</span>

                </div>
                <div class="panel-body">
                    <div class="idx-msg-box">
                        <ul class="idx-order-list">
                            <li class="order-item">
                                <span class="order-date pull-right">2017-12-13</span>
                                <a href="#" class="order-link">标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐</a>
                            </li>
                            <li class="order-item">
                                <span class="order-date pull-right">2017-12-13</span>
                                <a href="#" class="order-link">标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐</a>
                            </li>
                            <li class="order-item">
                                <span class="order-date pull-right">2017-12-13</span>
                                <a href="#" class="order-link">标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐</a>
                            </li>
                            <li class="order-item">
                                <span class="order-date pull-right">2017-12-13</span>
                                <a href="#" class="order-link">标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐</a>
                            </li>
                            <li class="order-item">
                                <span class="order-date pull-right">2017-12-13</span>
                                <a href="#" class="order-link">标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐</a>
                            </li>
                             <li class="order-item">
                                <span class="order-date pull-right">2017-12-13</span>
                                <a href="#" class="order-link">标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐</a>
                            </li>
                             <li class="order-item">
                                <span class="order-date pull-right">2017-12-13</span>
                                <a href="#" class="order-link">标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐</a>
                            </li>
                             <li class="order-item">
                                <span class="order-date pull-right">2017-12-13</span>
                                <a href="#" class="order-link">标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐标准版短信套餐</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
    </div>
</div>
