<div class="modal-header clearfix">
    <span class="modal-title">成员订购关系</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
	<div class="ui-tabs js-search-tabs">
	         <ul class="ui-tabs-nav">
	             <li class="ui-tabs-active">
	                 <a href="" class="fwb">当前套餐</a>
	             </li>
	             <li>
	                 <a href="" class="fwb">下周期套餐</a>
	             </li>
	         </ul>
	         <div class="ui-tabs-panel">
	             <div class="panel panel-default">
		        	<div class="panel-body">
		            <table class="table table-striped" id="curr_table"></table>
		            </div>
		        </div>
		        <div class="panel-footer clearfix">
		            <div class="page-foot-data">
		                <span>共<span class="page-total-num js-curr_total">0</span>页</span>
		                <span><span class="page-data-count js-curr_count">0</span>条数据</span>
		            </div>
		            <div class="page-foot-form">
		                <div class="input-group">
		                    <div class="js-curr_pagination"></div>
		                </div>
		            </div>
		        </div>
	         </div>
	         <div class="ui-tabs-panel">
	            <div class="panel panel-default">
		        	<div class="panel-body">
		            <table class="table table-striped" id="next_table"></table>
		            </div>
		        </div>
		        <div class="panel-footer clearfix">
		            <div class="page-foot-data">
		                <span>共<span class="page-total-num js-next_total">0</span>页</span>
		                <span><span class="page-data-count js-next_count">0</span>条数据</span>
		            </div>
		            <div class="page-foot-form">
		                <div class="input-group">
		                    <div class="js-next_pagination"></div>
		                </div>
		            </div>
		        </div>
	         </div>
	</div>
        

</div>
<div class="modal-footer">
    <div class="form-group no-margin-bottom">
        <button class="btn btn-default" data-dismiss="modal" type="button">返回</button>
    </div>
</div>