<div id="list_view">
	<div class="iot-loaction-bar">
	    当前位置：<a href="#" class="link-text">成员管理></a><a class="current">成员查询</a>
	</div>
	<div class="iot-panel-group">
		<div class="panel-control-bar">
	            <form class="form-inline">
	                <div class="form-group">
	                    <input type="text" class="form-control" id="select_group">
	                </div>
            </form>
        </div>
	    <div class="panel panel-default">
	        <table class="table table-striped" id="xtab"></table>
	    </div>
	    <div class="panel-footer clearfix">
	        <div class="page-foot-data">
	            <span>共<span class="page-total-num">0</span>页</span>
	            <span><span class="page-data-count">0</span>条数据</span>
	        </div>
	        <div class="page-foot-form">
	            <div class="input-group col-md-14">
	                <div id="pagination-demo" class="js-pagination"></div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div id="detail_view">

</div>