<div class="modal-header clearfix">
    <span class="modal-title">菜单权限</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">

    <div class="ui-tabs js-search-tabs">
        <div class="ui-tabs-panel">
            <div class="edit-product">
                <div>
                    <form action="">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="select-list choosable">可选列表</div>
                                <div class="choosable-tree" style="overflow:auto;"></div>
                            </div>
                            <div class="col-xs-6">
                                <div class="select-list choosen">已选列表</div>
                                <div class="choosen-tree"  style="overflow:auto;"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!--ui-tabs-panel end-->
    </div>



</div>
<div class="modal-footer">
    <div class="form-group no-margin-bottom">
        <button class="btn btn-primary" type="button" id="btn_confirm">保存</button>
        <button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
    </div>
</div>