<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="libs" content="placeholder,md5">
    <link rel="stylesheet" href="../../../styles/css/reset_password_style.css" />
    
    <title>物联网业务管理平台</title>
</head>

<body>

<div class="wrap">
	<div class="top">
		<div class="main now_date" sytle="display:none;">
			今天是<span id="today">8月8日</span>，<span id="this_week">星期一</span>
		</div>
	</div>
	<!-- top end -->
    
	<div class="header">
		<div class="header-main">
			<ul class="hd-info">
				<li class="hd-info-item">
					<div class="hd-and-logo"><img src="../../../styles/images/and-logo.png" alt=""></div>
				</li>
				<li class="hd-info-item">
					<i class="hd-info-line"></i>
				</li>
				<li class="hd-info-item">
					<div class="hd-cmcc-logo"><img src="../../../styles/images/cmcc-logo.png" alt=""></div>
				</li>
				<li class="hd-info-item">
					<div class="hd-title fl">自助服务门户</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- header end -->

	<div class="main">                     

		<div class="container">
			
			<div class="reset-psw-wrap">
							
				<ul class="reset-psw-flow clear-fix">
					<li class="flow-item flow-item-1 active">
						<div class="flow-item-num">01</div>
						<div class="flow-item-tit">安全认证</div>
					</li>
					<li class="flow-item flow-item-2">
						<div class="flow-item-num">02</div>
						<div class="flow-item-tit">身份校验</div>
					</li>
					<li class="flow-item flow-item-3">
						<div class="flow-item-num">03</div>
						<div class="flow-item-tit">密码重置</div>
					</li>
					<li class="flow-item flow-item-4">
						<div class="flow-item-num">04</div>
						<div class="flow-item-tit">成功完成</div>
					</li>
				</ul>

                <div class="reset_step step_1">
					<div class="reset-psw-main">
						<ul>
							<li class="from-item clear-fix">
								<div class="from-item-th">用户名：</div>
								<div class="from-item-td">
									<div class="from-item-con">
										<label>
											<input type="text" class="from-item-inp-text" id="user_name">
										</label>
									</div>
								</div>
							</li>
							<li class="from-item clear-fix">
								<div class="from-item-th">验证码：</div>
								<div class="from-item-td">
									<div class="from-item-con code-item">
										<label>
											<input type="text" class="from-item-inp-text" id="validate_code">
										</label>
										<span class="code-img">
											<img src="../actions/verificationcode.jsp" alt="看不清? 换一张" id="code_img">
											<a href="javascript:void(0);" id="refreshCode">看不清</a>
										</span>									
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="mt20">
						<button class="from-submit-btn" type="button" id="btn_next">下一步</button>
					</div>
				</div>
				
				<div class="reset_step step_2" style="display:none;">
					<div class="reset-psw-main">
						<div class="reset-psw-info">
							<!-- <p id="sendMessage">已将短信发送到您的手机：<span class="red">137xxxxxxxxxxx</span></p> -->
							<p>请查看并输入随机短信密码。</p>
						</div>
						<ul>
							<li class="from-item clear-fix">
								<div class="from-item-th">短信随机码：</div>
								<div class="from-item-td">
									<div class="from-item-con code-item">
										<label>
											<input type="text" class="from-item-inp-text" id="vali_code">
										</label>
										<button class="code-submit-btn" type="button" id="getCodeAgain">点击获取</button>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="mt20">
						<button class="from-submit-btn" type="button" id="btn_next2">下一步</button>
					</div>
				</div>
				
				<div class="reset_step step_3" style="display:none;">
					<div class="reset-psw-main">
						<ul>
							<li class="from-item clear-fix">
								<div class="from-item-th">输入密码：</div>
								<div class="from-item-td">
									<div class="from-item-con">
										<label id="pwd_lable">
											<input type="password" class="from-item-inp-text" id="password" style="width:150px;">
											<span class="sign-span weak" style="background:#988A8B;">弱</span>
										    <span class="sign-span normal" style="background:#988A8B;">中</span>
										    <span class="sign-span strong" style="background:#988A8B;">强</span>	
										</label>
									</div>
									
								</div>
							</li>
							<li class="from-item clear-fix">
								<div class="from-item-th">确认密码：</div>
								<div class="from-item-td">
									<div class="from-item-con">
										<label>
											<input type="password" class="from-item-inp-text" id="sure_password" style="width:150px;">
										</label>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="mt20">
						<button class="from-submit-btn" type="button" id="btn_next3">下一步</button>
					</div>
				</div>
				
				<div class="reset_step step_4" style="display:none;">
					<div class="reset-statr-info">
						<i class="succeed-icon"><img src="../../../styles/images/succeed-icon.png" alt=""></i>
						<h3>恭喜您，密码重置成功！</h3>
						<p>
							<a href="../iotportal/login.html" class="link">返回登陆页面></a>
						</p>
					</div>
				</div>
				
				<div class="reset-psw-tips">温馨提示：密码重置支持以下帐号类型：邮箱、手机、上网卡和固网（固话和宽带）
				</div>
			</div>
			<!-- reset-psw-wrap end -->

		</div>
		<!-- container end -->

	</div>
	<!-- main end -->

	<div class="footer">
		<div class="footer-main">
			<div class="footer-content">
				<p>中国移动通信集团公司版权所有</p>
				<p>京ICP备05002571号</p>
				<p>Copyright © 2016 China Mobile Communication Corporation. All Rights Reserved</p>
			</div>
		</div>
	</div>

</div>
	<script src="../../../original/public/lib/xenon/js/datatables/js/jquery.js"></script>
	<script type="text/javascript" src="../../../original/public/js/jquery.base64.js"></script>
	<script src="../../../original/static/js/common/Invoker.js"></script>
	<script src="../../../original/static/js/common/Utils.js"></script>
	<script src="../../../original/static/lib/layer/layer.js"></script>
	<script src="../views/resetPasswordView.js"></script>
</body>

</html>
