<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">成员管理></a><a class="current">成员添加</a>
</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline">
                <div class="form-group">
                    <select name="" class="form-control js-selectmenu">
                       <option value="">全部组</option>
                       </select>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>订购组名称</th>
                    <th>成员数</th>
                    <th>开通时间</th>
                    <th class="operation">操作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>全部</td>
                    <td class="text-primary">123</td>
                    <td class="text-weaker-color">2017-04-14</td>
                    <td class="operation">
                        <a href="#">成员添加</a>
                    </td>
                </tr>
                <tr>
                    <td>全部</td>
                    <td class="text-primary">123</td>
                    <td class="text-weaker-color">2017-04-14</td>
                    <td class="operation">
                        <a href="#">成员添加</a>
                    </td>
                </tr>
                <tr>
                    <td>测试流量池</td>
                    <td class="text-primary">123</td>
                    <td class="text-weaker-color">2017-04-14</td>
                    <td class="operation">
                        <a href="#">成员添加</a>
                    </td>
                </tr>
                <tr>
                    <td>移动数据流量无线DDN企业端无月租套餐</td>
                    <td class="text-primary">123</td>
                    <td class="text-weaker-color">2017-04-14</td>
                    <td class="operation">
                        <a href="#">成员添加</a>
                    </td>
                </tr>
                <tr>
                    <td>机器卡集团主体产品（集团）</td>
                    <td class="text-primary">123</td>
                    <td class="text-weaker-color">2017-04-14</td>
                    <td class="operation">
                        <a href="#">成员添加</a>
                    </td>
                </tr>
                <tr>
                    <td>无订购组成员</td>
                    <td class="text-primary">123</td>
                    <td class="text-weaker-color">2017-04-14</td>
                    <td class="operation">
                        <a href="#">成员添加</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869876198344</td>
                    <td class="text-primary">123</td>
                    <td class="text-weaker-color">2017-04-14</td>
                    <td class="operation">
                        <a href="#">成员添加</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869876198344</td>
                    <td class="text-primary">123</td>
                    <td class="text-weaker-color">2017-04-14</td>
                    <td class="operation">
                        <a href="#">成员添加</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869876198344</td>
                    <td class="text-primary">123</td>
                    <td class="text-weaker-color">2017-04-14</td>
                    <td class="operation">
                        <a href="#">成员添加</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869876198344</td>
                    <td class="text-primary">123</td>
                    <td class="text-weaker-color">2017-04-14</td>
                    <td class="operation">
                        <a href="#">成员添加</a>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="page-foot-data">
            <span>共<span class="page-total-num">2</span>页</span>
            <span><span class="page-data-count">23</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
</div>