<!DOCTYPE html>
<html>
<head lang="en">
	<title>免登陆实时流量查询</title>
	<!-- 	<style>
	 
	.title{
	font-size: 18px;
	}
	</style>
    <title>物联网自服务门户</title>
 -->
 	
 	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script type="text/javascript" src="../../../frm/fish-desktop/js/fish-desktop-all.js"></script>
    
    <script type="text/javascript" src="../../../frm/ext/layer/layer.js"></script>
    <script type="text/javascript" src="../../../frm/fish-desktop/third-party/icheck/fish.icheck.js"></script>
    <script type="text/javascript" src="../../../frm/template/party/echarts.min.js"></script>
    <script type="text/javascript" src="../../../frm/template/party/echartDay.js"></script>
    <script type="text/javascript" src="../../../frm/template/party/echartNight.js"></script>
    <script type="text/javascript" src="../../../frm/fish-desktop/locale/fish-desktop-locale.zh.min.js"></script>
    <script type="text/javascript" src="../../../frm/fish-desktop/third-party/splitter/fish.splitter.js"></script>
    <!-- <script type="text/javascript" src="frm/fish-bss-ext.js"></script> -->
    <script type="text/javascript" src="../../../frm/ext/console-fix.js"></script>
    <script type="text/javascript" src="../../../frm/ext/bssslidingdoor.js"></script>
    <script type="text/javascript" src="../../../frm/ext/tree-ext.js"></script>
    <script type="text/javascript" src="../../../frm/ext/grid-ext.js"></script>
    <script type="text/javascript" src="../../../frm/ext/label-ext.js"></script>
    <script type="text/javascript" src="../../../frm/ext/fixedbox.js"></script>
    <script type="text/javascript" src="../../../frm/ext/pagination-ext.js"></script>
    <script type="text/javascript" src="../../../frm/ext/tooltip-ext.js"></script>
    <script type="text/javascript" src="../../../frm/ext/popup-ext.js"></script>
    <script type="text/javascript" src="../../../frm/ext/tab-ext.js"></script>
    <script type="text/javascript" src="../../../frm/ext/combo-ext.js"></script>
    <script type="text/javascript" src="../../../frm/ext/combotree-ext.js"></script>
    <script type="text/javascript" src="../../../frm/ext/formlist.js"></script>
    <script type="text/javascript" src="../../../frm/ext/hypermultiselect.js"></script>
    <script type="text/javascript" src="../../../frm/ext/hypercombotree.js"></script>
    <script type="text/javascript" src="../../../frm/ext/alert-ext.js"></script>
    <script type="text/javascript" src="../../../frm/ext/combobox-ext.js"></script>
    <script type="text/javascript" src="../../../frm/ext/xtable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../../frm/ext/xtable/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="../../../frm/ext/fileupload.js"></script>
    <script type="text/javascript" src="../../../frm/ext/xtable/xtable.js"></script>
    <script type="text/javascript" src="../../../original/public/js/jquery.base64.js"></script>
    <script type="text/javascript" src="../../../frm/fish-desktop/third-party/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="../../../frm/ext/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="../../../original/static/js/common/Utils.js"></script>
    <script type="text/javascript" src="../../../original/static/js/common/WYUtil.js"></script>
    <script type="text/javascript" src="../../../frm/fish-desktop/js/fish-desktop-require.js" data-main="../views/nologin_query_flow"></script>
</head>

<body>
<div class="wrap2">
	<div class="header">
		<div class="header-main">
			<ul class="hd-info">
				<li class="hd-info-item">
					<div class="hd-and-logo"><img src="../images/and-logo.png" alt=""></div>
				</li>
				<li class="hd-info-item">
					<i class="hd-info-line"></i>
				</li>
				<li class="hd-info-item">
					<div class="hd-cmcc-logo"><img src="../images/cmcc-logo.png" alt=""></div>
				</li>
				<li class="hd-info-item">
					<div class="hd-title fl">自助服务门户</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- 主面板 -->
	<div id="flow_main">

	</div>
	<!-- main end -->

	<div class="footer">
		<div class="footer-main2">
			<div class="footer-content">
				<p>中国移动通信集团公司版权所有</p>
				<p>京ICP备05002571号</p>
				<p>Copyright © 2016 China Mobile Communication Corporation. All Rights Reserved</p>
			</div>
		</div>
	</div>

</div>
<!-- wrap end -->
</body>
</html>
