<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<ul class="tab-nav clear-fix">
	<li class="tab-item"><a href="javascript:void(0)"
		class="tab-link active" url="business_query/flow_query.html">GPRS实时流量查询</a><!-- 套餐内GPRS流量查询 -->
</ul>
<div id="cust_detail_container"  style="display:none" class="container">
	<div class="client-info-item" style="margin-left:20px;">
		<div class="main-title">
			<h3>用户流量详情</h3>
		</div>
		<div class="info-table">
			<table>
				<tbody>
				
				<tr>
					<th>通话分钟数(单位分)：</th>
					<td fieldtype="db" dbfield="outTeleminutes"></td>
					
				</tr>
				<tr>
					<th>使用流量数（单位MB）：</th>
					<td fieldtype="db" dbfield="outflows"></td>
					
				</tr>
				<tr>
					
					<th>短信（单位条）：</th>
					<td fieldtype="db" dbfield="outMassage"></td>
				</tr>
				
				
				
				<tr>
					
					<th>彩信(单位条)：</th>
					<td fieldtype="db" dbfield="outColmassage"></td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>



