<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">运营分析></a><span class="current">成员业务量本月排行榜</span>
</div>

<div class="iot-panel-group">
    <div class="panel">
        <div class="select-date-bar">
            <ul>
                <li class="year-item">
                    <button >2015</button>
                </li>
                <li class="year-item">
                    <button >2016</button>
                </li>
                <li class="year-item">
                    <button >2017</button>
                </li>
            </ul>
            <ul>
                <li class="month-item">
                    <button value="01">1</button>
                </li>
                <li class="month-item">
                    <button value="02" >2</button>
                </li>
                <li class="month-item">
                    <button value="03">3</button>
                </li>
                <li class="month-item">
                    <button value="04">4</button>
                </li>
                <li class="month-item">
                    <button value="05">5</button>
                </li>
                <li class="month-item">
                    <button value="06">6</button>
                </li>
                <li class="month-item">
                    <button value="07">7</button>
                </li>
                <li class="month-item">
                    <button value="08">8</button>
                </li>
                <li class="month-item">
                    <button value="09">9</button>
                </li>
                <li class="month-item">
                    <button value="10">10</button>
                </li>
                <li class="month-item">
                    <button value="11">11</button>
                </li>
                <li class="month-item">
                    <button value="12">12</button>
                </li>
            </ul>

        </div>

    </div>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <span class="panel-title">流量</span><span class="text-weaker-color">(MB)</span>
                    </div>
                    <div class="panel-body">
                        <div>
                            <ul class="idx-work-ranking" id="flow">
                                
                            </ul>
                        </div>
                        <!-- idx-msg-box end -->
                    </div>
                </div>
                <!-- panel end -->
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <span class="panel-title">短信</span><span class="text-weaker-color">(条)</span>
                    </div>
                    <div class="panel-body">
                        <div>
                            <ul class="idx-work-ranking" id="msg">
                            </ul>
                        </div>
                        <!-- idx-msg-box end -->
                    </div>
                </div>
                <!-- panel end -->
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <span class="panel-title">通话</span><span class="text-weaker-color">(分钟)</span>
                    </div>
                    <div class="panel-body">
                        <div>
                            <ul class="idx-work-ranking" id="voice">
                            </ul>
                        </div>
                        <!-- idx-msg-box end -->
                    </div>
                </div>
                <!-- panel end -->
            </div>
        </div>
    </div>
</div>