<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">业务查询></a><a class="current">在线信息查询</a>
</div>

<div class="iot-layout-panel">
    <div class="online-row clearfix">
        <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary">12367<span class="f12 text-brand-primary">MB</span></div>
                                <div class="fr f12">30<span class="text-brand-primary">G</span></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">28.8G</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
        <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary">12367<span class="f12 text-brand-primary">MB</span></div>
                                <div class="fr f12">30<span class="text-brand-primary">G</span></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">28.8G</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
        <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary">12367<span class="f12 text-brand-primary">MB</span></div>
                                <div class="fr f12">30<span class="text-brand-primary">G</span></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">28.8G</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
        <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary">12367<span class="f12 text-brand-primary">MB</span></div>
                                <div class="fr f12">30<span class="text-brand-primary">G</span></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">28.8G</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
                <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary">12367<span class="f12 text-brand-primary">MB</span></div>
                                <div class="fr f12">30<span class="text-brand-primary">G</span></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">28.8G</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
                <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-weaker-color">--</div>
                                <div class="fr f12 text-weaker-color">--</div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">暂无数据</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
                <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary">12367<span class="f12 text-brand-primary">MB</span></div>
                                <div class="fr f12">30<span class="text-brand-primary">G</span></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">28.8G</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
                <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary">12367<span class="f12 text-brand-primary">MB</span></div>
                                <div class="fr f12">30<span class="text-brand-primary">G</span></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">28.8G</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
                <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary">12367<span class="f12 text-brand-primary">MB</span></div>
                                <div class="fr f12">30<span class="text-brand-primary">G</span></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">28.8G</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
                <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary">12367<span class="f12 text-brand-primary">MB</span></div>
                                <div class="fr f12">30<span class="text-brand-primary">G</span></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">28.8G</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
                <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary">12367<span class="f12 text-brand-primary">MB</span></div>
                                <div class="fr f12">30<span class="text-brand-primary">G</span></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">28.8G</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
                <div class="online-col">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text">移动数据流量无线DDN企业端无月租套餐</span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary">12367<span class="f12 text-brand-primary">MB</span></div>
                                <div class="fr f12">30<span class="text-brand-primary">G</span></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger">28.8G</span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>
        
    </div>

</div>


<div class="panel-footer clearfix body-bg">
    <div class="page-foot-data">
        <span>共<span class="page-total-num">2</span>页</span>
        <span><span class="page-data-count">23</span>条数据</span>
    </div>
    <div class="page-foot-form">
        <div class="input-group col-md-14">
            <div id="pagination-demo" class="js-pagination"></div>
        </div>
    </div>
</div>