<!-- 
<div class="panel">
    <div class="card-activate">
        <div class="activate-box">
            <div class="card-num">
                <div class="num-inner"> <input type="输入卡号" placeholder="请输入卡号" id="search_input" name="misidn_num" class="padding-md-left" ></div>
                <div class="active">
                    <form class="form-inline">
                        <div class="form-group margin-md-top fl">
          		         	 <button class="btn btn-default" type="button" id="btn_downloadInfo"><i class="ico-download margin-sm-right"></i>下载批量重置模版</button>
            
          		          	 <label class="btn btn-default" for="cust_mem_info_file"><i class="ico-upload margin-sm-right" ></i>上传批量重置GPRS</label>

                        </div>
                        <div class="form-group margin-md-top fr">
							<button type="button" class="btn btn-primary" id="restart_gprs">恢复</button>
							<button type="button" class="btn btn-danger"  id="stop_gprs">暂停</button>
                        </div>
                    </form>
                     <input type="file" id="cust_mem_info_file" style="visibility:hidden;height:0px;">
                </div>
            </div>
        </div>

        <div class="upload-status"  id="success" hidden>
            <div class="text-success f20">上传成功</div>
            <div class="margin-md-top" id="success" >
                <div class="margin-lg-right upload-count" id="success_message"></div>

            </div>
        </div>
        <div class="upload-status bt" id="fail" hidden>
            <div class="f20 text-danger" id="fail" >上传失败</div>
            <div class="text-weaker-color margin-md-top" id="fail">只适用于Excel文件</div>
        </div>
        <div class="warm-prompt" id="prompt" >
            <div class="f14">温馨提示</div>
            <div class="text-weaker-color margin-md-top f20">下载表格模版，导入内容可批量上传</div>
        </div>
        <div class="upload-status bt" id="res" hidden>
            <div class="f20 text-danger" id="res" >反馈结果</div>
            <div class="text-weaker-color margin-md-top" id="res_message"  >出现了一个问题</div>
        </div>

    </div>
</div> -->
<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">客户自助服务></a><a class="current">GPRS功能暂停／恢复接口</a>
</div>
<div class="panel">
    <div class="card-activate">
        <div class="activate-box">
            <div class="card-num">
                <div class="num-inner" style="border: 1px solid #5dbaff;margin-top: 100px"><input type="输入卡号" placeholder="请输入卡号" id="search_input" name="misidn_num" class="padding-md-left"></div>
                <div class="active">
                    <form class="form-inline">
                        <div class="form-group margin-md-top fl">
                            <button class="btn btn-default" type="button" id="btn_downloadInfo"><i class="ico-download margin-sm-right"></i>下载批量重置模版</button>
                            <label class="btn btn-default" for="cust_mem_info_file"><i class="ico-upload margin-sm-right" ></i>上传批量重置GPRS</label>
                        </div>
                        <div class="form-group margin-md-top fr">
                            <button type="button" class="btn btn-primary" id="restart_gprs">恢复</button>
                            <button type="button" class="btn btn-danger"  id="stop_gprs">暂停</button>
                        </div>
                    </form>
                    <input type="file" id="cust_mem_info_file" style="visibility:hidden;height:0px;">
                </div>
            </div>
        </div>


    </div>
</div>