<div class="modal-header clearfix">
    <span class="modal-title">已选成员</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix over-scroll">
    <div class="iot-panel-group">
        <div class="panel panel-default">
            <table class="table table-striped" id="numbertab">
            </table>
<!--                 <div class="panel-footer clearfix"> -->
<!-- 		        <div class="page-foot-data"> -->
<!-- 		            <span>共<span class="page-total-num">0</span>页</span> -->
<!-- 		            <span><span class="page-data-count">0</span>条数据</span> -->
<!-- 		        </div> -->
<!-- 		        <div class="page-foot-form"> -->
<!-- 		            <div class="input-group col-md-14"> -->
<!-- 		                <div id="pagination-demo" class="js-pagination"></div> -->
<!-- 		            </div> -->
<!-- 		        </div> -->
<!-- 		    </div> -->
        </div>

    </div>
</div>
<div class="modal-footer">
    <div class="form-group no-margin-bottom">
        <button class="btn btn-default" data-dismiss="modal" type="button">返回</button>
    </div>
</div>