<div class="iot-loaction-bar">
    当前位置：
    <a href="#" class="link-text"></a>业务查询></a>
    <a class="current">批量计划定位</a>

</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline js-search-form">
                <div class="form-group">
                    <label for="" class="control-label">开始时间：</label>
                    <div class="input-group  margin-lg-right">
                        <input type="text" class="form-control js-date" placeholder="-选择时间-" id="start_date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label">结束时间：</label>
                    <div class="input-group  margin-lg-right">
                        <input type="text" class="form-control js-date" placeholder="-选择时间-" id="end_date">
                    </div>
                </div>
                <div class="form-group fr">
                    <button class="btn btn-primary" type="button" id="query_btn">查询</button>
                    <button class="btn btn-primary" type="button" id="reset_btn">重置</button>
                </div>
                <div class="form-group fr">
                    <input type="text" class="form-control margin-lg-right" placeholder="请输入任务名称" id="query_group_num">
                </div>

            </form>
        </div>
    </div>
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline clearfix">
                <div class="form-group fr">
                    <button class="btn btn-default" type="button" id="proj_add_btn"><i class="ico-add-two margin-sm-right"></i>添加</button>
                    <button class="btn btn-default" type="button" id="proj_modify_btn"><i class="ico-change margin-sm-right"></i>修改</button>
                    <button class="btn btn-default" type="button" id="proj_del_btn"><i class="ico-del margin-sm-right"></i>删除</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped js-table">
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="page-foot-data">
            <span>共<span class="page-total-num js-num">0</span>页</span>
            <span><span class="page-data-count js-total">0</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
</div>