<div class="modal-header clearfix">
    <span class="modal-title js-plan-name"></span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <form class="form-inline" id="newgroup_form" style="display:none;">
        <div class="form-group">
            <input type="text" class="form-control middle-size-input" id="vadd_msisdn" name="comments" placeholder="号码">
        </div>
        <div class="form-group">
            <button class="select-group-btn" type="button" id="btn_addconfirm"><i class="ico-correct"></i></button>
            <button class="select-group-btn" type="button" id="btn_addcancel"><i class="ico-wrong"></i></button>
        </div>
    </form>
    <div>
        <table class="table table-striped js-detail-table">
        </table>
        <div class="page-foot-form">
            <div class="input-group col-md-12">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
    <!-- <div class="iot-panel-group">
        <div class="panel">
            <div class="panel-control-bar">
                <form class="form-inline clearfix">
                    <div class="form-group fr">
                        <button class="btn btn-default" type="button" id="proj_add_btn"><i class="ico-add-two margin-sm-right"></i>添加</button>
                        <button class="btn btn-default" type="button" id="proj_del_btn"><i class="ico-del margin-sm-right"></i>删除</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            
        </div>
        <div class="panel-footer clearfix">
            <div class="page-foot-data">
                <span>共<span class="page-total-num js-total">0</span>页</span>
                <span><span class="page-data-count js-num">0</span>条数据</span>
            </div>
            <div class="page-foot-form">
                <div class="input-group col-md-14">
                    <div id="pagination-demo" class="js-pagination"></div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<div class="modal-footer clearfix">
    <div class="form-group fl">
        <button class="btn btn-default" type="button" id="btn_addgroup"><i class="ico-add-black margin-sm-right"></i>添加</button>
    </div>
    <div class="form-group no-margin-bottom">
        <button class="btn btn-primary js-sure" type="button">确定</button>
        <button class="btn btn-default js-cancel" type="button" data-dismiss="modal">取消</button>
    </div>
</div>


