<div class="modal-header clearfix">
    <span class="modal-title">新增子帐号</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <form action="">
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-12">
                    <div class="app-name">
                        <div class="form-group">
                            <label>号码<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control js-add-number" id="vadd_msisdn">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer clearfix">
    <div class="form-group no-margin-bottom fr">
        <button class="btn btn-primary" type="button" id="proj_save_btn">提交</button>
        <button class="btn btn-default" type="button" id="return_btn">返回</button>
    </div>
</div>