<div class="modal-header clearfix">
    <span class="modal-title">整点频率选择</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix over-scroll">
    <div class="iot-panel-group">
        <div class="panel-body" style="padding-top:15px;">
                        <table id="select_tab">
                            <tr>
                                <td>
                                <input type="checkbox" name="loc_rate" value="0" class="js-check" id="no0">
                                <label class="inp-checkbox single_checkbox" loc_rate='0' for="">
                                0点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="1" class="js-check" id="no1">
                                <label class="inp-checkbox single_checkbox" loc_rate='1'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                1点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="2" class="js-check" id="no2">
                                <label class="inp-checkbox single_checkbox" loc_rate='2'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                2点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="3" class="js-check" id="no3">
                                <label class="inp-checkbox single_checkbox" loc_rate='3'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                3点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="4" class="js-check" id="no4">
                                <label class="inp-checkbox single_checkbox" loc_rate='4'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                4点&nbsp;&nbsp;</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <input type="checkbox" name="loc_rate" value="5" class="js-check" id="no5">
                                <label class="inp-checkbox single_checkbox" loc_rate='5'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                5点</label>
                                </td>
                                <td> 
                                <input type="checkbox" name="loc_rate" value="6" class="js-check" id="no6">
                                <label class="inp-checkbox single_checkbox" loc_rate='6'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                6点</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="7" class="js-check" id="no7">
                                <label class="inp-checkbox single_checkbox" loc_rate='7'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                7点</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="8" class="js-check" id="no8">
                                <label class="inp-checkbox single_checkbox" loc_rate='8'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                8点</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="9" class="js-check" id="no9">
                                <label class="inp-checkbox single_checkbox" loc_rate='9'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                9点&nbsp;&nbsp;</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <input type="checkbox" name="loc_rate" value="10" class="js-check" id="no10">
                                <label class="inp-checkbox single_checkbox" loc_rate='10'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                10点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="11" class="js-check" id="no11">
                                <label class="inp-checkbox single_checkbox" loc_rate='11'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                11点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="12" class="js-check" id="no12">
                                <label class="inp-checkbox single_checkbox" loc_rate='12'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                12点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="13" class="js-check" id="no13">
                                <label class="inp-checkbox single_checkbox" loc_rate='13'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                13点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="14" class="js-check" id="no14">
                                <label class="inp-checkbox single_checkbox" loc_rate='14'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                14点&nbsp;&nbsp;</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <input type="checkbox" name="loc_rate" value="15" class="js-check" id="no15">
                                <label class="inp-checkbox single_checkbox" loc_rate='15'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                15点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="16" class="js-check" id="no16">
                                <label class="inp-checkbox single_checkbox" loc_rate='16'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                16点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="17" class="js-check" id="no17">
                                <label class="inp-checkbox single_checkbox" loc_rate='17'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                17点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="18" class="js-check" id="no18">
                                <label class="inp-checkbox single_checkbox" loc_rate='18'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                18点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="19" class="js-check" id="no19">
                                <label class="inp-checkbox single_checkbox" loc_rate='19'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                19点&nbsp;&nbsp;</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <input type="checkbox" name="loc_rate" value="20" class="js-check" id="no20">
                                <label class="inp-checkbox single_checkbox" loc_rate='20'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                20点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="21" class="js-check" id="no21">
                                <label class="inp-checkbox single_checkbox" loc_rate='21'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                21点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="22" class="js-check" id="no22">
                                <label class="inp-checkbox single_checkbox" loc_rate='22'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                22点&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                <input type="checkbox" name="loc_rate" value="23" class="js-check" id="no23">
                                <label class="inp-checkbox single_checkbox" loc_rate='23'>
                                <i class="inp-checkbox-ico checkbox_i"></i>
                                23点&nbsp;&nbsp;</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

    </div>
</div>
<div class="modal-footer">
    <div class="form-group no-margin-bottom">
        <button class="btn btn-primary" type="button" id="btn_confirm">确定</button>
        <button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
    </div>
</div>