<div class="iot-loaction-bar">
    当前位置：
    <a href="#" class="link-text"></a>成员管理></a>
    <a href="#" class="link-text"></a>订单查询></a><a class="current">订单详情</a>
    <a href="#" class="fr">返回上一层</a>
</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline">
                <div class="form-group">
                    <select name="" class="form-control js-selectmenu">
                       <option value="">不限状态</option>
                       </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入MSISDN(卡号)：～">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="button">查询</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>MSISDN(卡号)</th>
                    <th>业务</th>
                    <th>产品套餐</th>
                    <th>状态时间</th>
                    <th>状态</th>
                    <th>操作流水</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8767659869</td>
                    <td>订购</td>
                    <td>物联网号码实时流量提醒（480M）</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>创建</td>
                    <td class="text-weaker-color">581-927-3731</td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>订购</td>
                    <td>物联网号码实时流量提醒（480M）</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>在途</td>
                    <td class="text-weaker-color">581-927-3731</td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>订购</td>
                    <td>物联网号码实时流量提醒（480M）</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>开通中</td>
                    <td class="text-weaker-color">581-927-3731</td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>订购</td>
                    <td>物联网号码实时流量提醒（480M）</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td class="text-success">完结</td>
                    <td class="text-weaker-color">581-927-3731</td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>订购</td>
                    <td>物联网号码实时流量提醒（480M）</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td class="text-danger">请求失败</td>
                    <td class="text-weaker-color">581-927-3731</td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>订购</td>
                    <td>物联网号码实时流量提醒（480M）</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td class="text-danger">受理失败</td>
                    <td class="text-weaker-color">581-927-3731</td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>订购</td>
                    <td>物联网号码实时流量提醒（480M）</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>开通中</td>
                    <td class="text-weaker-color">581-927-3731</td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>订购</td>
                    <td>物联网号码实时流量提醒（480M）</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td class="text-danger">竣工失败</td>
                    <td class="text-weaker-color">581-927-3731</td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>订购</td>
                    <td>物联网号码实时流量提醒（480M）</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>开通中</td>
                    <td class="text-weaker-color">581-927-3731</td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>订购</td>
                    <td>物联网号码实时流量提醒（480M）</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>创建</td>
                    <td class="text-weaker-color">581-927-3731</td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>订购</td>
                    <td>物联网号码实时流量提醒（480M）</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>创建</td>
                    <td class="text-weaker-color">581-927-3731</td>
                </tr>



            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="page-foot-data">
            <span>共<span class="page-total-num">2</span>页</span>
            <span><span class="page-data-count">23</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
</div>