<!-- <div class="ui-dialog dialog-md"> -->
	<div class="modal-body">
	    <div class="panel panel-default">
	        <div class="panel-heading">信息</div>
	        <div class="panel-body">
	            <form class="form-horizontal" id="demand-form">
	                <div class="col-md-6">
	                    <div class="form-group">
	                        <label class="col-md-6">确定删除？</label>
	                    </div>
	                </div>
	                <div class="col-md-12">
	                    <button class="btn btn-primary pull-right confirm_btn" type="button">确定</button>
	        			<button class="btn btn-default pull-right cancel_btn" type="button">取消</button>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
	<!-- </div> -->