<div class="iot-loaction-bar">
    当前位置：
    <a href="#" class="link-text"></a>成员管理></a>
    <a class="current">订单查询</a>

</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline">
                <div class="form-group">
                    <select name="" class="form-control js-selectmenu w130-input">
                       <option value="">不限状态</option>
                       </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control margin-lg-right w120-input" placeholder="请输入订单～">
                </div>
                <div class="form-group">
                    <label for="" class="control-label">开始时间：</label>
                    <div class="input-group  margin-lg-right">
                        <input type="text" class="form-control js-date" placeholder="-选择时间-">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label">结束时间：</label>
                    <div class="input-group">
                        <input type="text" class="form-control js-date" placeholder="-选择时间-">
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="button">查询</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>订单号</th>
                    <th>订单标题</th>
                    <th>明细总数</th>
                    <th>状态时间</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1234</td>
                    <td class="text-brand-primary">添加3个成员物联网号码实时流量提醒（600M）</td>
                    <td>1234</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>创建</td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td class="text-brand-primary">添加3个成员物联网号码实时流量提醒（600M）</td>
                    <td>1234</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>在途</td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td class="text-brand-primary">添加3个成员物联网号码实时流量提醒（600M）</td>
                    <td>1234</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>开通中</td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td class="text-brand-primary">添加3个成员物联网号码实时流量提醒（600M）</td>
                    <td>1234</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td class="text-success">完结</td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td class="text-brand-primary">添加3个成员物联网号码实时流量提醒（600M）</td>
                    <td>1234</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td class="text-warning">失败（部分环节失败）</td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td class="text-brand-primary">添加3个成员物联网号码实时流量提醒（600M）</td>
                    <td>1234</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td class="text-danger">失败（全部提交失败）</td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td class="text-brand-primary">添加3个成员物联网号码实时流量提醒（600M）</td>
                    <td>1234</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>开通中</td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td class="text-brand-primary">添加3个成员物联网号码实时流量提醒（600M）</td>
                    <td>1234</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>开通中</td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td class="text-brand-primary">添加3个成员物联网号码实时流量提醒（600M）</td>
                    <td>1234</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>开通中</td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td class="text-brand-primary">添加3个成员物联网号码实时流量提醒（600M）</td>
                    <td>1234</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>创建</td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td class="text-brand-primary">添加3个成员物联网号码实时流量提醒（600M）</td>
                    <td>1234</td>
                    <td class="text text-weaker-color">2017-06-03&nbsp;08:48</td>
                    <td>创建</td>
                </tr>











            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="page-foot-data">
            <span>共<span class="page-total-num">2</span>页</span>
            <span><span class="page-data-count">23</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
</div>