<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">业务查询></a><a class="current">GPRS实时流量查询</a>
</div>
<div class="panel">
    <div class="panel-control-bar">
        <form action="" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入卡号～">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button">查询</button>
            </div>
        </form>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="fwb f12">用户流量详情（如果该物联卡在流量池中查询结果为流量池信息）</div>
    </div>
    <div class="panel-body">
        <ul class="gprs-user-flow clearfix">
            <li>
                <div class="fwb">语音使用量</div>
                <div>
                    <div class="f18 text-brand-primary">564<span class="f12 text-brand-primary">分钟</span></div>
                    <div class="js-progressbar1 margin-lg-top"></div>
                </div>
            </li>
                        <li>
                <div class="fwb">语音使用量</div>
                <div>
                    <div class="f18 text-brand-primary">564<span class="f12 text-brand-primary">MB</span></div>
                    <div class="js-progressbar1 margin-lg-top"></div>
                </div>
            </li>
                        <li>
                <div class="fwb">语音使用量</div>
                <div>
                    <div class="f18 text-brand-primary">564<span class="f12 text-brand-primary">条</span></div>
                    <div class="js-progressbar1 margin-lg-top"></div>
                </div>
            </li>
        </ul>
    </div>
</div>