<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">成员管理></a><a href="#" class="link-text">成员管理></a><span class="current">选号码</span><a
        class="fr text-brand-primary" href="">返回上一层</a>
</div>
<div class="panel">
    <div class="panel-select-bar">
        <ul>
            <li class="select-item">
                <a href="#">
                    <span class="num-circle active">1</span>
                    <span class="text-brand-primary">选号码</span>
                </a>
                <i class="ico-right"></i>
            </li>
            <li class="select-item">
                <a href="#">
                    <span class="num-circle">2</span>
                    <span class="text-weaker-color">选套餐</span>
                </a>
                <i class="ico-right"></i>
            </li>

            <li class="select-item">
                <a href="#">
                    <span class="num-circle">3</span>
                    <span class="text-weaker-color">确认提交</span>
                </a>
            </li>
        </ul>
    </div>

</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline">
                <div class="form-group">
                    <label for="" class="control-lable margin-md-left">筛选号码：</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入筛选号码">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="button">添加</button>
                </div>
                <div class="form-group fr">
                    <button class="btn btn-default" type="button"><i class="ico-upload margin-sm-right"></i>上传Excel</button>
                    <button class="btn btn-default" type="button" placeholder=""><i class="ico-download margin-sm-right"></i>下载模版</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div>
            <table class="table table-striped no-margin-bottom">
                <thead>
                    <tr>
                        <th>
                            <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                        </th>
                        <th>MSISDN</th>
                        <th>发布时间</th>
                        <th class="operation">操作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                        </td>
                        <td>876798764656164</td>
                        <td>2017-08-11</td>
                        <td class="operation">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                        </td>
                        <td>876798764656164</td>
                        <td>2017-08-11</td>
                        <td class="operation">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                        </td>
                        <td>876798764656164</td>
                        <td>2017-08-11</td>
                        <td class="operation">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                        </td>
                        <td>876798764656164</td>
                        <td>2017-08-11</td>
                        <td class="operation">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                        </td>
                        <td>876798764656164</td>
                        <td>2017-08-11</td>
                        <td class="operation">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                        </td>
                        <td>876798764656164</td>
                        <td>2017-08-11</td>
                        <td class="operation">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                        </td>
                        <td>876798764656164</td>
                        <td>2017-08-11</td>
                        <td class="operation">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                        </td>
                        <td>876798764656164</td>
                        <td>2017-08-11</td>
                        <td class="operation">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                        </td>
                        <td>876798764656164</td>
                        <td>2017-08-11</td>
                        <td class="operation">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                        </td>
                        <td>876798764656164</td>
                        <td>2017-08-11</td>
                        <td class="operation">
                            <a href="#">详情</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="panel-footer clearfix step">
            <div class="page-foot-data">
                <button class="btn btn-primary" type="button">下一步</button>
                <button class="btn btn-default" type="button">重置</button>
            </div>
        </div>
    </div>
</div>