<div class="login-top">
  <a href="#" class="link">关于中国电信</a>
  <a href="#" class="link"><i class="iconfont icon-gene-mail margin-right-sm"></i>联系我们</a>
  <a href="#" class="link"><i class="iconfont icon-gene-help margin-right-sm"></i>寻求帮助</a>
  <a href="#" class="link">安全设置下载</a>
  <a href="#" class="link"><i class="iconfont icon-gene-rotate-right margin-right-sm"></i>清除缓存</a>
  <span class="text-success"><i class="iconfont icon-gene-laptop-chromebo margin-right-sm"></i>服务器名:192.168.0.0:8080</span>
</div>
<div class="login-content clearfix">
    <div class="login-left">
      <div class="login-left-cont">
        <img src="../../../frm/fish-desktop/img/login-logo.png" alt="">
      </div>
    </div>
    <div class="login-box">
        <div class="login-box-cont ">
            <div class="login-title"><i class="title-icon-user iconfont icon-gene-person-border-1"></i>用户登录</div>
            <div class="ipt-box-cont">
                <ul class="login-form login-form-group js-login-form">
                    <li class="form-item input-group">
                      <span class="input-group-addon"><i class="iconfont icon-gene-person-border-"></i></span>
                      <input type="text" class="form-control" placeholder="输入工号">
                    </li>
                    <li class="form-item input-group">
                      <span class="input-group-addon"><i class="iconfont icon-gene-lock-outline"></i></span>
                      <input type="password" class="form-control" placeholder="输入密码">
                      <span class="input-group-addon">
                          <i class="glyphicon glyphicon-eye-close"></i>
                      </span>
                    </li>
                </ul>
                <ul class="login-form">
                    <li class="form-item input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                      <input type="text" value="" class="form-control" placeholder="输入验证码">
                      <div class="input-group-addon">
                          <span class="code-addon"><img class="js-vcode-img" src="portal/LoginController/vcode.do"/></span>
                      </div>
                    </li>
                </ul>
            </div>
            <ul class="login-btn-control">
                <li class="login-btn-box btn-txt">找回密码</li>
                <li class="login-btn-box">
                    <a class="btn-login js-login"><i class="log-arrow"></i></a>
                </li>
                <li class="login-btn-box btn-txt btn-txt-right">寻求帮助<i class="log-help"></i></li>
            </ul>
        </div>
        <div class="login-box-cont hidden">
            <div class="login-title"><i class="title-icon-phone iconfont icon-gene-tablet-mac"></i>手机登录</div>
            <div class="ipt-box-cont">
                <ul class="login-form">
                    <li class="form-item input-group">
                      <span class="input-group-addon"><i class="iconfont icon-gene-person-border-"></i></span>
                      <input type="text" class="form-control" placeholder="输入工号">
                    </li>
                    <li class="form-item input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                      <input type="text" value="" class="form-control" placeholder="输入验证码">
                      <div class="input-group-addon">
                          <a href="#" class="text-primary">获取验证码</a>
                      </div>
                    </li>
                </ul>
            </div>
            <ul class="login-btn-control">
                <li class="login-btn-box btn-txt">找回密码</li>
                <li class="login-btn-box">
                    <a class="btn-login js-login"><i class="log-arrow"></i></a>
                </li>
                <li class="login-btn-box btn-txt btn-txt-right">寻求帮助<i class="log-help"></i></li>
            </ul>
        </div>
        <ul class="login-box-tabs">
            <li class="tabs-item"><i class="iconfont icon-gene-person-border-1 icon-user margin-horizontal-sm"></i>使用工号登录</li>
        </ul>
    </div>
</div>
