<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">客户自助服务></a><a class="current">卡状态激活</a>
</div>
<div class="panel">
    <div class="card-activate">
        <div class="activate-box">
            <div class="card-num">
                <div class="num-inner"><input type="输入卡号" class="form-control"></div>
                <div class="active">
                    <form class="form-inline">
                        <div class="form-group margin-md-top fl">
                            <button class="btn btn-default" type="button"><i class="ico-download margin-sm-right"></i>下载批量重置模版</button>
                            <button class="btn btn-default" type="button"><i class="ico-upload margin-sm-right"></i>上传批量重置GPRS</button>
                        </div>
                        <div class="form-group margin-md-top fr">
                            <button class="btn btn-primary" type="button">激活</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>