<div class="iot-loaction-bar">
    当前位置：<span>权限管理></span><span class="current">组织管理</span>
</div>

<div class="panel">
    <div class="row">
        <div class="col-xs-2">
            <div class="side-bar-tree">
                <div class="company-tree"></div>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="iot-panel-group bdl">
                <div class="panel">
                    <div class="panel-control-bar">
                        <form class="form-inline">
                            <div class="form-group">
                                <select name="" class="form-control js-selectmenu">
                                <option value="">组织名称</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="请输入组织结构">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button">查询</button>
                            </div>
                            <div class="form-group fr">
                                <button class="btn btn-default" type="button"><i class="ico-add-gray margin-sm-right"></i>新增组织</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">

                    <table class="table table-striped organ-table">
                        <thead>
                            <tr>
                                <th>组织名称</th>
                                <th>组织编码</th>
                                <th>组织类型</th>
                                <th>组织级别</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>系统上线</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头...</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>朝韩军事会谈告吹 韩国敦促朝鲜早日…</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>系统上线</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头...</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>系统上线</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头...</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>系统上线</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头...</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>系统上线</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头...</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>系统上线</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头...</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>系统上线</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头...</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>系统上线</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头...</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>系统上线</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头...</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>系统上线</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头...</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>系统上线</td>
                                <td>通知</td>
                                <td>周表示，近年来，中印关系总体保持发展头...</td>
                                <td>2017-08-11</td>
                                <td>
                                    <a href="#">详情</a>
                                    <a href="#">删除</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer clearfix page-foot">
                    <div class="page-foot-data">
                        <span>共<span class="page-total-num">2</span>页</span>
                        <span><span class="page-data-count">23</span>条数据</span>
                    </div>
                    <div class="page-foot-form">
                        <div class="input-group col-md-14">
                            <div id="pagination-demo" class="js-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>