<div class="panel">
    <div class="panel-control-bar">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" name="" placeholder="卡号~">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="" placeholder="ICCID～">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="" placeholder="IMSI～">
            </div>
            <div class="form-group">
                <select class="form-control js-combobox">
                    <option class="">-卡品牌类型-</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control js-combobox">
                    <option class="">-号码状态-</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button">查询</button>
                <button class="btn btn-default js-popover" type="button">高级搜索</button>
            </div>
        </form>
    </div>
    <div class="divide-line"></div>
    <div>
        <table class="table table-striped m-num-m-table">
            <thead>
                <tr>
                    <th>卡号</th>
                    <th>卡品牌类型</th>
                    <th>ICCID</th>
                    <th>IMSI</th>
                    <th>号码状态</th>
                    <th>是否沉默用户</th>
                    <th>开户时间</th>
                    <th class="text-right">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>1223</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td>2017-08-12</td>
                    <td class="text-right">
                        <a href="#" class="link">详情</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>1223</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td>2017-08-12</td>
                    <td class="text-right">
                        <a href="#" class="link">详情</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>1223</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td>2017-08-12</td>
                    <td class="text-right">
                        <a href="#" class="link">详情</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>1223</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td>2017-08-12</td>
                    <td class="text-right">
                        <a href="#" class="link">详情</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>1223</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td>2017-08-12</td>
                    <td class="text-right">
                        <a href="#" class="link">详情</a>
                    </td>
                </tr>
                <tr>
                    <td>
                    8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>1223</td>
                    <td>移动</td>
                    <td>移动</td>
                    <td>2017-08-12</td>
                    <td class="text-right">
                        <a href="#" class="link">详情</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer clearfix">
            <div class="page-foot-data">
                <span>共<span class="page-total-num">2</span>页</span>
                <span><span class="page-data-count">23</span>条数据</span>
            </div>
            <div class="page-foot-form">
                <div class="js-pagination"></div>
            </div>
        </div>
    </div>
    <div class="js-popover-content" style="display: none">
        <form>
            <div class="form-group">
                <label class="control-label">开始时间：</label>
                <div class="input-group">
                    <input type="text" class="form-control js-datetimepicker" name="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">结束时间：</label>
                <div class="input-group">
                    <input type="text" class="form-control js-datetimepicker" name="">
                </div>
            </div>
            <div>
                 <label>
                    <input type="checkbox" name="" >沉默用户
                </label>
            </div>
            <div class="popover-footer text-right">
                <button class="btn btn-primary btn-sm" type="button">搜索</button>
                <button class="btn btn-default btn-sm" type="button">取消</button>
            </div>
        </form>
    </div>
</div>

