<div class="panel panel-body">
	<div class="row">
		<div class="col-xs-8">
			<div class="form-info-show">
				<div class="row">
					<div class="col-xs-6">
						<dl class="form-info-item">
							<dt class="form-field">用户名:</dt>
							<dd title="鼠标移过去显示详细" class="form-value">中兴软创</dd>
						</dl>
					</div>
					<div class="col-xs-6">
						<dl class="form-info-item">
							<dt class="form-field">登录密码:</dt>
							<dd class="form-value" title="鼠标移过去显示详细">1454514515</dd>
						</dl>
					</div>
					<div class="col-xs-6">
						<dl class="form-info-item">
							<dt class="form-field">姓名:</dt>
							<dd title="鼠标移过去显示详细" class="form-value">中兴软创中兴软创中兴软创中兴软创中兴软创中兴软创中兴软创中兴软创</dd>
						</dl>
					</div>
					<div class="col-xs-6">
						<dl class="form-info-item">
							<dt class="form-field">手机号码:</dt>
							<dd class="form-value" title="鼠标移过去显示详细">13455555555</dd>
						</dl>
					</div>
					<div class="col-xs-12">
						<dl class="form-info-item">
							<dt class="form-field">邮箱:</dt>
							<dd title="鼠标移过去显示详细" class="form-value">4456454545@163.com</dd>
						</dl>
					</div>
					<div class="col-xs-12">
						<dl class="form-info-item-textarea">
							<dt class="form-field">用户名:</dt>
							<dd class="form-value">爱词霸英语为广大网友提供在线翻译、在线词典、英语口语、英语学习资料、汉语词典,金山词霸下载等服爱词霸英语为广大网友提供在线翻译、在线词典、英语口语、英语学习资料、汉语词典,金山词霸下载等服</dd>
						</dl>
					</div>
				</div>
			</div>					
		</div>
		<div class="col-xs-4">
			<div class="text-right">
				<button class="btn btn-default" type="button">修改</button>
			</div>
		</div>
	</div>
</div>
