<div class="panel">
	<div class="panel-control-bar">
	    <form class="form-inline">
	        <div class="form-group margin-lg-right">
		        <select class="js-combobox form-control">
		        	<option value="">-产品分类-</option>
		        </select>
		        <select class="js-combobox form-control">
		        	<option value="">-产品分类-</option>
		        </select>
	        </div>
	        <div class="form-group margin-lg-right">
	        	<label class="control-label">开始时间:</label>
	        	<div class="input-group">
	        		<input type="text" name="" class="form-control js-datetimepicker">
	        	</div>
	        </div>
	        <div class="form-group margin-lg-right">
	        	<label class="control-label">结束时间:</label>
	        	<div class="input-group">
	        		<input type="text" name="" class="form-control js-datetimepicker">
	        	</div>
	        </div>
	        <div class="form-group">
	        	<button class="btn btn-primary" type="button">查询</button>
	        </div>
	    </form>
	</div>
	<div class="divide-line"></div>
	<div class="padding-md">
		<div class="block-divide-wrap">
			<ul class="block-divide-list">
				<li class="list-item">
					<div class="media">
						<div class="media-left">
							<img src="frm/template/images/img-provide-order.png">
						</div>
						<div class="media-body">
							<div class="media-heading clearfix">
								<span class="pull-right title-control-bar-sm">
									<a href="" class="link margin-lg-left">详情</a>
								</span>
								<span class="media-title">移动数据流量无线DDN企业端无月租套餐移动数据流量无线DDN企业端无月租套餐移动数据流量无线DDN企业端无月租套餐</span>
								<span class="text-weaker-color">（产品编码：340000101084）</span>
							</div>
							<div>
								<span class="states states-default">普通套餐</span>
								<span class="states valid">有效</span>
								<span class="text-weaker-color margin-lg-left">有效时间:2017-08-10至2017-08-20</span>
							</div>
							<div class="text-weaker-color margin-top">
								这里是产品描述
							</div>
						</div>
					</div>
				</li>
				<li class="list-item">
					<div class="media">
						<div class="media-left">
							<img src="frm/template/images/img-provide-order.png">
						</div>
						<div class="media-body">
							<div class="media-heading clearfix">
								<span class="pull-right title-control-bar-sm">
									<a href="" class="link margin-lg-left">详情</a>
								</span>
								<span class="media-title" title="鼠标移动到这里显示更多，标题不能折行，超过一行要用点点点代替">移动数据流量无线DDN企业端无月租套餐</span>
								<span class="text-weaker-color">（产品编码：340000101084）</span>
							</div>
							<div>
								<span class="states states-default">普通套餐</span>
								<span class="states valid">有效</span>
								<span class="text-weaker-color margin-lg-left">有效时间:2017-08-10至2017-08-20</span>
							</div>
							<div class="text-weaker-color margin-top">
								这里是产品描述
							</div>
						</div>
					</div>
				</li>
				<li class="list-item">
					<div class="media">
						<div class="media-left">
							<img src="frm/template/images/img-provide-order.png">
						</div>
						<div class="media-body">
							<div class="media-heading clearfix">
								<span class="pull-right title-control-bar-sm">
									<a href="" class="link margin-lg-left">详情</a>
								</span>
								<span class="media-title" title="鼠标移动到这里显示更多，标题不能折行，超过一行要用点点点代替">标题这里不能折行，请你们限定字数....</span>
								<span class="text-weaker-color">（产品编码：340000101084）</span>
							</div>
							<div>
								<span class="states states-default">普通套餐</span>
								<span class="states valid">有效</span>
								<span class="text-weaker-color margin-lg-left">有效时间:2017-08-10至2017-08-20</span>
							</div>
							<div class="text-weaker-color margin-top">
								这里是产品描述
							</div>
						</div>
					</div>
				</li>
				<li class="list-item">
					<div class="media">
						<div class="media-left">
							<img src="frm/template/images/img-provide-order.png">
						</div>
						<div class="media-body">
							<div class="media-heading clearfix">
								<span class="pull-right title-control-bar-sm">
									<a href="" class="link margin-lg-left">详情</a>
								</span>
								<span class="media-title" title="鼠标移动到这里显示更多">移动数据流量无线DDN企业端无月租套餐</span>
								<span class="text-weaker-color">（产品编码：340000101084）</span>
							</div>
							<div>
								<span class="states states-default">普通套餐</span>
								<span class="states valid">有效</span>
								<span class="text-weaker-color margin-lg-left">有效时间:2017-08-10至2017-08-20</span>
							</div>
							<div class="text-weaker-color margin-top">
								这里是产品描述这 是产品描述
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="load-more">剩余2316条，<a href="#" class="text-brand-primary">加载更多&gt;</a></div>
		</div>
	</div>
</div>

