<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">客户管理&gt;&gt;</a><a href="" class="link-text">集团客户&gt;&gt;</a><span class="current">客户详情</span>
</div>
<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">广州中兴软创科技股份有限公司
		</span>
		<span class="small text-muted">
			（编码：7548759866）
			</span>
		<div class="pull-right panel-heading-static">
			<a href="" class="link margin-lg">修改客户信息</a>
			<a href="" class="link margin-lg">终端信息录入</a>
			<a href="" class="link">单点登录</a>
		</div>
	</div>
	<div class="panel-body client-info">
		<div class="client-info-header">
			<div class="clearfix">
				<div class="right-side">
					<div class="row brick-layout">
						<div class="col-xs-6">
							<div class="f20 text-stress">45</div>
							<div class="text-muted">用户数</div>
						</div>
						<div class="col-xs-6">
							<div class="f20 text-stress">45</div>
							<div class="text-muted">沉默用户数</div>
						</div>
					</div>
				</div>
				<div class="left-side">
					<div>
						<span class="states states-default">计算机服务页</span>
						<span class="states states-warning">CI</span>
					</div>
					<div class="margin-sm">
						<dl class="info-describe">
							<dt class="info-field">
								<span></span>
								联系人：
							</dt>
							<dd class="info-value">
								刘明
								<span class="text-weaker-color">(15278676542)&nbsp;347658868@qq.com）</span>
							</dd>
						</dl>
					</div>
				</div>
				
			</div> 
		</div>
	</div>
</div>
<div class="ui-tabs has-tbd js-tabs">
	<ul class="ui-tabs-nav margin-bottom">
		<li class="fwb">
			<a href="">详细信息</a>
		</li>
		<li class="fwb">
			<a href="">集团成员</a>
		</li>
		<li class="fwb">
			<a href="">产品订购信息</a>
		</li>
		<li class="ui-tabs-active fwb">
			<a href="">登录用户信息修改</a>
		</li>
	</ul>
	<div  class="ui-tabs-panel">
		<div class="js-client"></div>
	</div>
	<div class="ui-tabs-panel">
		<div class="js-client-menber"></div>
	</div>
	<div class="ui-tabs-panel">
		<div class="js-provide-order"></div>
	</div>
	<div class="ui-tabs-panel">
		<div class="js-client"></div>
	</div>
</div>