<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">成员管理>></a><a class="current">成员号码管理</a>
</div>
<div class="iot-panel-group">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入MSISDM卡号，ICCID，IMSI~">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="button">添加</button>
                </div>
                <div class="form-group fr">
                    <button class="btn btn-default" type="button"><i class="ico-download margin-sm-right"></i>下载成员号码清单</button>
                    <button class="btn btn-default" type="button"><i class="ico-download margin-sm-right"></i>下载号码模版</button>
                    <button class="btn btn-default" type="button"><i class="ico-upload margin-sm-right"></i>上传号码下载成员号码清单</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped m-num-m-table">
            <thead>
                <tr>
                    <th>MSISDN（卡号）</th>
                    <th>ICCID</th>
                    <th>IMSI</th>
                    <th>卡品牌</th>
                    <th>号码状态</th>
                    <th  class="operation">操作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td><span class="states valid">正常</span></td>
                    <td  class="operation">
                        <a href="#">展开详情</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td><span class="states valid">正常</span></td>
                    <td  class="operation">
                        <a href="#">展开详情</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td><span class="states valid">正常</span></td>
                    <td  class="operation">
                        <a href="#">展开详情</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td><span class="states valid">正常</span></td>
                    <td  class="operation">
                        <a href="#">展开详情</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td><span class="states invalid">异常</span></td>
                    <td  class="operation">
                        <a href="#">展开详情</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td><span class="states valid">正常</span></td>
                    <td  class="operation">
                        <a href="#">展开详情</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="no-border-bg-block">
                        <div class="expand clearfix">
                            <ul class="clearfix">
                                <li>本月使用流量：356MB</li>
                                <li>本月使用流量：356MB</li>
                                <li>本月使用流量：356MB</li>
                                <li>本是否加入流量池：是</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td><span class="states valid">正常</span></td>
                    <td  class="operation">
                        <a href="#">展开详情</a>
                    </td>
                </tr>
                <tr>
                    <td>8767659869</td>
                    <td>1223</td>
                    <td>67587686</td>
                    <td>移动</td>
                    <td><span class="states valid">正常</span></td>
                    <td  class="operation">
                        <a href="#">展开详情</a>
                    </td>
                </tr>
                                <tr>
                    <td colspan="6" class="no-border-bg-block">
                        <div class="expand clearfix">
                            <ul class="clearfix">
                                <li>本月使用流量：356MB</li>
                                <li>本月使用流量：356MB</li>
                                <li>本月使用流量：356MB</li>
                                <li>本是否加入流量池：是</li>
                            </ul>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="page-foot-data">
            <span>共<span class="page-total-num">2</span>页</span>
            <span><span class="page-data-count">23</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
</div>