<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">业务订购></a><a class="current">订购组订单查询</a><a class="fr text-brand-primary backToMain" href="javascript:void(0);">返回上一层</a>
</div>

<!-- 详情 start -->
<div class="detail_div">
	<div class="iot-panel-group" id="prod_list">
		<div class="panel panel-default"> 
			<div class="panel-body"> 
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-2 control-lable">订单操作：</label>
						<div class="form-group col-md-3">
	                        <input type="text" class="form-control order_action" placeholder="订单操作">
	                    </div>
					</div>
				</form>
			</div>
		</div>
<!-- 		<div class="panel panel-default">  -->
<!-- 			<div class="panel-body">  -->
<!-- 				<form class="form-horizontal"> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label class="col-xs-2 control-lable">套餐名称：</label> -->
<!-- 						<div class="form-group  col-md-3"> -->
<!-- 	                        <input type="text" class="form-control" placeholder="套餐名称"> -->
<!-- 	                    </div> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label class="col-xs-2 control-lable">生效时间：</label> -->
<!-- 						<div class="form-group  col-md-3"> -->
<!-- 	                        <input type="text" class="form-control" placeholder="生效时间"> -->
<!-- 	                    </div> -->
<!-- 	                    <label class="col-xs-2 control-lable">失效时间：</label> -->
<!-- 						<div class="form-group  col-md-3"> -->
<!-- 	                        <input type="text" class="form-control" placeholder="失效时间"> -->
<!-- 	                    </div> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label class="col-xs-2 control-lable">套餐属性：</label> -->
<!-- 						<div class="form-group  col-md-3"> -->
<!-- 	                        <input type="text" class="form-control" placeholder="属性值"> -->
<!-- 	                    </div> -->
<!-- 					</div> -->
<!-- 				</form> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
	</div>
</div>
<!-- 详情 end -->