<div class="modal-header clearfix">
    <span class="modal-title">修改成员群组权限</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <div>
        <table class="table select-group">
            <tbody>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>

                                <tr>
                    <td>
                        <label class="no-margin-bottom">
                        <input class="js-check" type="checkbox" name="" >
                        </label>
                    </td>
                    <td>8群组一名称<span class="text-weaker-color">(暂无备注)</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer clearfix">
    <div class="form-group no-margin-bottom fr">
        <button class="btn btn-primary" type="button">确定</button>
        <button class="btn btn-default" type="button">取消</button>
    </div>
</div>