<div class="modal-header clearfix">
    <span class="modal-title">修改成员群组权限</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
   
      
            <div class="ui-tabs js-search-tabs">
                <ul class="ui-tabs-nav">
                    <li class="ui-tabs-active">
                        <a href="" class="fwb">当前套餐</a>
                    </li>
                    <li>
                        <a href="" class="fwb">下周期套餐</a>
                    </li>
                </ul>
                <div class="ui-tabs-panel">
                    <div class="panel panel-default">
                        <table class="table table-striped  margin-md-top">
                            <thead>
                                <tr>
                                    <th>MSISDN(卡号)</th>
                                    <th>产品套餐</th>
                                    <th>生效时间</th>
                                    <th>失效时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>15177440655</td>
                                    <td>Zachary Willis</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                </tr>
                                <tr>
                                    <td>15177440655</td>
                                    <td>Zachary Willis</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                </tr>
                                <tr>
                                    <td>15177440655</td>
                                    <td>Zachary Willis</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                </tr>
                                <tr>
                                    <td>15177440655</td>
                                    <td>Zachary Willis</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                </tr>
                                <tr>
                                    <td>15177440655</td>
                                    <td>Zachary Willis</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                </tr>
                                <tr>
                                    <td>15177440655</td>
                                    <td>Zachary Willis</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                    <td class="text-weaker-color">2017-06-03</td>
                                </tr>




                            </tbody>
                        </table>
                        <div class="panel-footer clearfix">
                            <div class="page-foot-data">
                                <span>共<span class="page-total-num">2</span>页</span>
                                <span><span class="page-data-count">23</span>条数据</span>
                            </div>
                            <div class="page-foot-form">
                                <div class="input-group col-md-14">
                                    <div id="pagination-demo" class="js-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-tabs-panel">下周期套餐</div>
            </div>
     


</div>
<div class="modal-footer">
    <div class="form-group no-margin-bottom">
        <button class="btn btn-primary" type="button">确定</button>
        <button class="btn btn-default" type="button">取消</button>
    </div>
</div>