<div class="modal-header clearfix">
    <span class="modal-title">信息</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <div class="text-center padding-lg">
        <div><img src="../../../../../frm/template/images/logo-warning.png" alt=""></div>
        <div class="f14">停用当前配置，将不再提供相关预警服务， 取消流量实时提醒套餐（叠加包），是否确定
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group no-margin-bottom">
        <button class="btn btn-primary" type="button">确定</button>
        <button class="btn btn-default" type="button">取消</button>
    </div>
</div>