<div class="modal-header clearfix">
    <span class="modal-title">新增子帐号</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <form action="">
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>帐号<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control" placeholder="12142346755">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>姓名<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control" placeholder="李明">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>密码<span class="text-danger">*</span>：
                       
                            </label>
                            <div class="password-level fr">
                                <ul class="clearfix level-list">
                                    <li class="fl margin-md-right">强</li>
                                    <li class="level-list-item active-low"></li>
                                    <li class="level-list-item active-middle"></li>
                                    <li class="level-list-item active-high"></li>
                                </ul>
                            </div>

                            <input type="password" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>确认密码<span class="text-danger">*</span>：</label>
                            <input type="password" class="form-control" placeholder="再次输入内容～">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>手机号码<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control" placeholder="18098765643">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>E-mail：</label>
                            <input type="text" class="form-control" placeholder="787664543353@qq.com">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group no-margin-bottom">
                    <label>备注：</label>
                    <textarea class="form-control" rows="5" placeholder="输入信息～"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer clearfix">
    <div class="form-group no-margin-bottom fr">
        <button class="btn btn-primary" type="button">确定</button>
        <button class="btn btn-default" type="button">取消</button>
    </div>
</div>