<div class="panel panel-default">
	<div class="panel-heading">
		<span class="panel-title">弹层实例</span>
	</div>
	<div class="panel-body">
		<button class="btn btn-default js-compile-app" type="button">编辑应用</button>
		<button class="btn btn-default js-change-group-permission" type="button">修改成员群组权限</button>
		<button class="btn btn-default js-change-configure" type="button">修改配置</button>
		<button class="btn btn-default js-flow-day-data" type="button">流量预警日数据</button>
		<button class="btn btn-default js-information" type="button">信息</button>
		<button class="btn btn-default js-configure-member" type="button">配置成员</button>
		<button class="btn btn-default js-select-group" type="button">选择组</button>
		<button class="btn btn-default js-change-account" type="button">修改子帐号</button>
		<button class="btn btn-default js-new-account" type="button">新增子帐号</button>
		<button class="btn btn-default js-change-group-permission-two" type="button">修改成员群组权限2</button>
		<button class="btn btn-default js-pull-down" type="button">下拉浮窗</button>
	</div>
</div>
