<div class="modal-header clearfix">
    <span class="modal-title">选择组</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <div>
        <div class="form-group js-popover">
            <div class="input-group">
                <select name="" class="form-control js-selectmenu">
                      
                 </select>
            </div>
        </div>
        <div class="pull-down" style="display: none">
            <table class="time-table">
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>0</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>1</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>2</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>4</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>5</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>6</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>8</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>9</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>10</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>12</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>13</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>14</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>16</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>17</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>18</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>20</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>21</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>22</td>
                    <td>
                        <label class="no-margin-bottom">
                               <input class="js-check" type="checkbox" name="" >
                           </label>
                    </td>
                    <td>23</td>
                </tr>
            </table>

        </div>
    </div>
</div>