<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">业务查询></a><a class="current">集团流量池查询</a>
</div>

<div class="iot-layout-panel">
    <div class="online-row clearfix js-col-row"> 
    </div>
    <div class="online-row clearfix"  style="display: none;">
        <div class="online-col js-temp">
            <div class="panel panel-default">
                <div class="online-info-check">
                    <div class="online-info-title">
                        <span class="online-info-text js-name"></span>
                    </div>
                    <div class="online-info-detail">
                        <div class="clearfix">
                            <div class="fl fwb">已使用流量</div>
                            <div class="fr ">总流量</div>
                        </div>
                        <div>
                            <div class="clearfix">
                                <div class="fl f18 text-brand-primary js-used"></div>
                                <div class="fr f12 js-total"></div>
                            </div>
                            <div class="js-progressbar1"></div>
                        </div>
                        <div class="f12 margin-lg-top">剩余：<span class="text-danger js-left"></span></div>
                    </div>
                </div>
            </div>
            <!-- panel end -->
        </div>   
    </div>
</div>