<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">成员管理><a href="#" class="link-text">成员变更></a><span class="current">提交完成</span>
    <a class="fr text-brand-primary js-btn_back" href="javascript:void(0);">返回上一层</a>
</div>
<div class="panel">
    <div class="panel-select-bar">
        <ul>
            <li class="select-item">
                <a href="#">
                    <span class="num-circle active">1</span>
                    <span class="text-brand-primary">选号码</span>
                </a>
                <i class="ico-right"></i>
            </li>
            <li class="select-item">
                <a href="#">
                    <span class="num-circle active">2</span>
                    <span class="text-weaker-color">选套餐</span>
                </a>
                <i class="ico-right"></i>
            </li>

            <li class="select-item">
                <a href="#">
                    <span class="num-circle active">3</span>
                    <span class="text-weaker-color">确认提交</span>
                </a>
            </li>
        </ul>
    </div>

</div>
<div class="panel">
    <div class="order-finish">
        <div class="margin-md-btm"><img src="frm/template/images/successs.png" alt="" id="img_result"></div>
        <div class="text-finish" id="status_message">订购成功</div>
        <div class="text-finish" id="result_message">本次添加了<span name="mem_num">1</span>个号码，订购了<span name="pkg_num">8</span>个业务。订单号：<a href="#" name="order_id" id="order_id" class="fwn"></a></div>
        <div class="margin-lg-top"><a href="javascript:void(0);" id="btn_back">返回成员列表</a></div>
    </div>
</div>