<div class="iot-header-bar">
    <div class="header-bar clearfix">
        <div class="header-logo">
            <img src="../../../../frm/template/images/logo.png" alt="">
        </div>
        <div class="header-info pull-right">
            您好!<a href="#" class="text-primary margin-sm-hori">李密</a>,上次登录时间是2017-07-25 14:01:10
            <a href="#" class="text-primary margin-sm-left">[修改密码]</a>
            <a href="#" class="text-primary margin-sm-left">[退出]</a>
            <a href="#" class="text-primary margin-sm-left">下载操作手册</a>
            <a href="#" class="text-primary">下载app客户端</a>
            <a href="#" class="btn-mode-day js-change-tem margin-sm-left"></a>
        </div>
    </div>
</div>
<!-- iot-header-bar end -->
<div class="iot-page-sidebar">
    <div class="sidebar-main">
        <div class="sidebar-user-info">
            <div class="img-user-avatar">
                <img src="../../../../frm/template/images/Bitmap.png" alt="">
            </div>
            <div class="user-name">李密</div>
            <div class="user-info">15374053543</div>
        </div>
        <!-- sidebar-user-info end  -->
        <ul class="sidebar-menu js-sidebar-menu">
            <li class="item activtead">
                <a href="modules/fordemo/indexPage/views/IndexView" class="link">主页</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="1">成员管理</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="2">运营分析</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="9">业务查询</a>
            </li>
            <li class="item">
                <a href="#" class="link">短信服务</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="3">位置服务</a>
            </li>
            <li class="item">
                <a href="#" class="link">终端设备监控</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="4">客户自助服务</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="6">API服务</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="5">业务监控告警</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="7">业务规则配置化</a>
            </li>
            <li class="item">
                <a href="#" class="link">业务办理</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="8">弹窗</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/404/views/404View" class="link">404</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/500/views/500View" class="link">500</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="10">统一视图</a>
            </li>
        </ul>
    </div>
    <!-- sidebar-main end -->
</div>
<!-- iot-page-sidebar end -->
<div class="iot-page-sub-sidebar js-page-sub-sidebar">
    <div class="sidebar-main">
        <ul class="sidebar-menu" menuSubIdx="1">
            <li class="item">
                <a href="modules/fordemo/memberNumberMange/views/memberNumberMangeView" class="link">成员号码管理</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/oneKeyDiagnose/views/oneKeyDiagnoseView" class="link">一键式诊断</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/memberGroupMange/views/memberGroupMangeView" class="link">成员群组管理</a>
            </li>
            <li class="item">
                <a href="#" class="link">子账号配置</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/memberCheck/views/memberCheckView" class="link">成员查询</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/memberAdd/views/memberAddView" class="link">成员添加</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/selectNumber/views/selectNumberView" class="link">选号码</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/selectSetMeal/views/selectSetMealView" class="link">选套餐</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/menmberFinish/views/menmberFinishView" class="link">完成</a>
            </li>
             <li class="item">
                <a href="modules/fordemo/selectIndex/views/selectIndexView" class="link">选择指标</a>
            </li>
             <li class="item">
                <a href="modules/fordemo/selectDifficulty/views/selectDifficultyView" class="link">选择查询维度</a>
            </li>
              <li class="item">
                <a href="modules/fordemo/selectProperty/views/selectPropertyView" class="link">选择显示属性</a>
            </li>
            <li class="item">
                <a href="#" class="link">成员删除</a>
            </li>
            <li class="item">
                <a href="#" class="link">成员变更</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/orderInquiry/views/orderInquiryView" class="link">订单查询</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/orderDetail/views/orderDetailView" class="link">订单详情</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="2">
            <li class="item">
                <a href="#" class="link">用户情况日数据1</a>
            </li>
            <li class="item">
                <a href="#" class="link">用户情况月数据</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团流量日数据</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团流量月数据</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团短信日数据</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团短信月数据</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团语音日数据</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/monthlyInfo/views/MontylyInfoView" class="link">集团语音月数据</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/memberBusinessMonthlyRanking/views/memberBusinessMonthlyRankingView" class="link">成员业务量本月排行榜</a>
            </li>
            <li class="item">
                <a href="#" class="link">成员号码管理</a>
            </li>
            <li class="item">
                <a href="#" class="link">成员业务查询</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="3">
            <li class="item">
                <a href="#" class="link">批量计划定位</a>
            </li>
            <li class="item">
                <a href="#" class="link">批量实时定位<i class="icon-group-copy fr mt14"></i></a>
                <!--展开图标 icon-group-copy-active-->
                <ul>
                    <li class="item">
                        <a href="#" class="link">选项一</a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">选项二</a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">选项三</a>
                    </li>
                </ul>
            </li>
            <li class="item">
                <a href="#" class="link">终端分布</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/realTimeDistribution/views/realTimeDistributionView" class="link">终端实时分布</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="4">
            <li class="item">
                <a href="modules/fordemo/gprsFunction/views/gprsFunctionView" class="link">GPRS功能暂停／恢复接口</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/cardActivate/views/cardActivateView" class="link">卡状态激活</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/cardChangeRecord/views/cardChangeRecordView" class="link">卡状态更变记录</a>
            </li>
            <li class="item">
                <a href="#" class="link">设备IMEI管理</a>
            </li>
            <li class="item">
                <a href="#" class="link">设备IMEI历史查询</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/unusualWarning/views/unusualWarningView" class="link">异动告警</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/sendMessage/views/sendMessageView" class="link">短信发送</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/sendMessage2/views/sendMessage2View" class="link">短信发送2群发</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/messageReceive/views/messageReceiveView" class="link">短信接收</a>
            </li>
            <li class="item">
                <a href="#" class="link">短信网关配置</a>
            </li>
            <li class="item">
                <a href="#" class="link">黑名单管理</a>
            </li>
            <li class="item">
                <a href="#" class="link">短信端口打开／关闭</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/messageCount/views/messageCountView" class="link">短信统计</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="5">
            <li class="item">
                <a href="#" class="link">成员使用情况清单告警</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/userUsesTheSituationAlarmConfiguration/views/userUsesTheSituationAlarmConfigurationView" class="link">用户使用情况告警配置</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="6">
            <li class="item">
                <a href="#" class="link">API能力概览</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/apiAppMange/views/apiAppMangeView" class="link">API应用管理</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="7">
            <li class="item">
                <a href="modules/fordemo/flowWarning/views/flowWarningView" class="link">流量预警</a>
            </li>
            <li class="item">
                <a href="#" class="link">IMEI预警</a>
            </li>
            <li class="item">
                <a href="#" class="link">激活预警</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="9">
            <li class="item">
                <a href="modules/fordemo/gprsRealTimeCheck/views/gprsRealTimeCheckView" class="link">GPRS实时流量查询</a>
            </li>
            <li class="item">
                <a href="#" class="link">GPRS流量批量查询</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团流量池查询</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/onlineInfoCheck/views/onlineInfoCheckView" class="link">在线信息查询</a>
            </li>
            <li class="item">
                <a href="#" class="link">用户余额实时查询</a>
            </li>
            <li class="item">
                <a href="#" class="link">批量计划定位</a>
            </li>
            <li class="item">
                <a href="#" class="link">批量实时定位</a>
            </li>
            <li class="item">
                <a href="#" class="link">终端分布</a>
            </li>
            <li class="item">
                <a href="#" class="link">终端实时分布</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="8">
            <li class="item">
                <a href="modules/fordemo/BApopup/views/popupMainView" class="link">弹窗</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="10">
            <li class="item">
                <a href="modules/fordemo/menuOne/views/menuOneView" class="link">菜单一</a>
            </li>
            <li class="item">
                <a href="modules/fordemo/diagnosisResult/views/diagnosisResultView" class="link">诊断结果</a>
            </li>
        </ul>
    </div>
    <!-- sidebar-main end -->
</div>
<!-- iot-page-sub-sidebar end -->
<div class="iot-page-container">
    <div class="iot-page-main">
        <div class="js-page-view"></div>
    </div>
    <!-- page-main end -->
</div>
<!-- iot-page-container end -->