<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">运营分析></a><span class="current">成员业务量本月排行榜</span>
</div>

<div class="iot-panel-group">
    <div class="panel">
        <div class="select-date-bar">
            <ul>
                <li class="year-item">
                    <button class="active">2015</button>
                </li>
                <li class="year-item">
                    <button>2016</button>
                </li>
                <li class="year-item">
                    <button>2017</button>
                </li>
            </ul>
            <ul>
                <li class="month-item">
                    <button>1</button>
                </li>
                <li class="month-item">
                    <button class="active">2</button>
                </li>
                <li class="month-item">
                    <button>3</button>
                </li>
                <li class="month-item">
                    <button>4</button>
                </li>
                <li class="month-item">
                    <button>5</button>
                </li>
                <li class="month-item">
                    <button>6</button>
                </li>
                <li class="month-item">
                    <button>7</button>
                </li>
                <li class="month-item">
                    <button>8</button>
                </li>
                <li class="month-item">
                    <button>9</button>
                </li>
                <li class="month-item">
                    <button>10</button>
                </li>
                <li class="month-item">
                    <button>11</button>
                </li>
                <li class="month-item">
                    <button>12</button>
                </li>
            </ul>

        </div>

    </div>
    <div class="panel panel-default">
        <div class="row no-margin">
            <div class="col-xs-4 no-padding">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix pd-lr-36">
                        <span class="panel-title">流量</span><span class="text-weaker-color">(MB)</span>

                    </div>
                    <div class="panel-body pd-lr-36">
                        <div>

                            <ul class="idx-work-ranking">
                                <li class="item">
                                    <div class="item-ranking one">1</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking two">2</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking three">3</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">4</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">5</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">6</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">7</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">8</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">9</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">10</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                            </ul>
                        </div>
                        <!-- idx-msg-box end -->
                    </div>
                </div>
                <!-- panel end -->
            </div>
            <div class="col-xs-4 no-padding">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix pd-lr-36">
                        <span class="panel-title">短信</span><span class="text-weaker-color">(条)</span>
                    </div>
                    <div class="panel-body pd-lr-36">
                        <div>

                            <ul class="idx-work-ranking">
                                <li class="item">
                                    <div class="item-ranking one">1</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking two">2</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking three">3</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">4</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">5</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">6</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">7</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">8</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">9</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">10</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                            </ul>
                        </div>
                        <!-- idx-msg-box end -->
                    </div>
                </div>
                <!-- panel end -->
            </div>
            <div class="col-xs-4 no-padding">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix pd-lr-36">
                        <span class="panel-title">通话</span><span class="text-weaker-color">(分钟)</span>

                    </div>
                    <div class="panel-body pd-lr-36">
                        <div>

                            <ul class="idx-work-ranking">
                                <li class="item">
                                    <div class="item-ranking one">1</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking two">2</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking three">3</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">4</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">5</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">6</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">7</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">8</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">9</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                                <li class="item">
                                    <div class="item-ranking">10</div>
                                    <div class="item-cont">
                                        <div class="item-work-num">15375654321</div>
                                    </div>
                                    <div class="item-number">1345</div>
                                </li>
                            </ul>
                        </div>
                        <!-- idx-msg-box end -->
                    </div>
                </div>
                <!-- panel end -->
            </div>
        </div>
    </div>
</div>