<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">客户管理&gt;&gt;</a><a class="current">集团客户</a>
</div>
<div class="panel">
	<div class="panel-control-bar">
		<form class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" name="" placeholder="请输入组织结构~">
			</div>
			<div class="form-group">
				<button class="btn-primary btn" type="button">查询</button>
			</div>
		</form>
	</div>
	<div class="divide-line"></div>
	<div class="padding-lg-vert padding-md-hori">
		<div class="block-divide-wrap">
			<ul class="block-divide-list">
				<li class="list-item">
					<div class="margin-btm">
						<span class="pull-right title-control-bar">
							<a href="" class="margin-lg-left link">详情</a>
							<a href="" class="margin-lg-left link">终端信息录入</a>
							<a href="" class="margin-lg-left link">单点录入</a>
						</span>
						<span class="block-title">广州中兴软创科技股份有限公司</span>
						<span class="text-weaker-color">（产品编码：340000101084）</span>
					</div>
					<div>
						<span class="states states-default">互联网</span>
						<span class="states states-default">计算机服务业</span>
						<span class="states states-default">电信服务业</span>
						<span class="states states-warning">CI</span>
					</div>
					<div class="margin-md-top">
						<span class="margin-lg-right">
							<span class="text-muted">用户数:</span>
							<span class="text-danger">45</span>
						</span>
						<span class="margin-lg-right">
							<span class="text-muted">沉默用户数:</span>
							<span class="text-danger">45</span>
						</span>
						<span class="margin-lg-right">
							<span class="text-muted">联系人:</span>
							<span class="text-stress">刘明</span>
							<span class="text-weaker-color">(54564512156)</span>
						</span>
					</div>
				</li>
				<li class="list-item">
					<div class="margin-btm">
						<span class="pull-right title-control-bar">
							<a href="" class="margin-lg-left link">详情</a>
							<a href="" class="margin-lg-left link">终端信息录入</a>
							<a href="" class="margin-lg-left link">单点录入</a>
						</span>
						<span class="block-title">广州中兴软创科技股份有限公司</span>
						<span class="text-weaker-color">（产品编码：340000101084）</span>
					</div>
					<div>
						<span class="states states-default">互联网</span>
						<span class="states states-default">计算机服务业</span>
						<span class="states states-default">电信服务业</span>
						<span class="states states-warning">CI</span>
					</div>
					<div class="margin-md-top">
						<span class="margin-lg-right">
							<span class="text-muted">用户数:</span>
							<span class="text-danger">45</span>
						</span>
						<span class="margin-lg-right">
							<span class="text-muted">沉默用户数:</span>
							<span class="text-danger">45</span>
						</span>
						<span class="margin-lg-right">
							<span class="text-muted">联系人:</span>
							<span class="text-stress">刘明</span>
							<span class="text-weaker-color">(54564512156)</span>
						</span>
					</div>
				</li>
				<li class="list-item">
					<div class="margin-btm">
						<span class="pull-right title-control-bar">
							<a href="" class="margin-lg-left link">详情</a>
							<a href="" class="margin-lg-left link">终端信息录入</a>
							<a href="" class="margin-lg-left link">单点录入</a>
						</span>
						<span class="block-title">广州中兴软创科技股份有限公司</span>
						<span class="text-weaker-color">（产品编码：340000101084）</span>
					</div>
					<div>
						<span class="states states-default">互联网</span>
						<span class="states states-default">计算机服务业</span>
						<span class="states states-default">电信服务业</span>
						<span class="states states-warning">CI</span>
					</div>
					<div class="margin-md-top">
						<span class="margin-lg-right">
							<span class="text-muted">用户数:</span>
							<span class="text-danger">45</span>
						</span>
						<span class="margin-lg-right">
							<span class="text-muted">沉默用户数:</span>
							<span class="text-danger">45</span>
						</span>
						<span class="margin-lg-right">
							<span class="text-muted">联系人:</span>
							<span class="text-stress">刘明</span>
							<span class="text-weaker-color">(54564512156)</span>
						</span>
					</div>
				</li>
				<li class="list-item">
					<div class="margin-btm">
						<span class="pull-right title-control-bar">
							<a href="" class="margin-lg-left link">详情</a>
							<a href="" class="margin-lg-left link">终端信息录入</a>
							<a href="" class="margin-lg-left link">单点录入</a>
						</span>
						<span class="block-title">广州中兴软创科技股份有限公司</span>
						<span class="text-weaker-color">（产品编码：340000101084）</span>
					</div>
					<div>
						<span class="states states-default">互联网</span>
						<span class="states states-default">计算机服务业</span>
						<span class="states states-default">电信服务业</span>
						<span class="states states-warning">CI</span>
					</div>
					<div class="margin-md-top">
						<span class="margin-lg-right">
							<span class="text-muted">用户数:</span>
							<span class="text-danger">45</span>
						</span>
						<span class="margin-lg-right">
							<span class="text-muted">沉默用户数:</span>
							<span class="text-danger">45</span>
						</span>
						<span class="margin-lg-right">
							<span class="text-muted">联系人:</span>
							<span class="text-stress">刘明</span>
							<span class="text-weaker-color">(54564512156)</span>
						</span>
					</div>
				</li>	
			</ul>
			<div class="load-more">剩余2316条，<a href="#" class="text-brand-primary">加载更多&gt;</a></div>
		</div>
	</div>
	
</div>