<div class="iot-header-bar">
    <div class="header-bar clearfix">
        <div class="header-logo">
            <img src="frm/template/images/logo.png" alt="">
        </div>
        <div class="header-info pull-right">
            您好!<a href="#" class="text-primary margin-sm-hori js-spuser-name" >李密</a>,上次登录时间是<span class="js-last_online_time"></span>
            <a href="#" class="text-primary margin-sm-left js-changepwd">[修改密码]</a>
            <a href="#" class="text-primary margin-sm-left js-logout">[退出]</a>
            <a href="servlet/downloadExcel?type=doc&fieldCode=10006" target="_blank" class="text-primary margin-sm-left">下载操作手册</a>
           <!--  <a href="app/download.html" target="_blank" class="text-primary">下载app客户端</a> -->
            <a href="#" class="btn-mode-day js-change-tem margin-sm-left"></a>
        </div>
    </div>
</div>
<!-- iot-header-bar end -->
<div class="iot-page-sidebar">
    <div class="sidebar-main">
        <div class="sidebar-user-info">
            <div class="img-user-avatar">
                <img src="frm/template/images/Bitmap.png" alt="">
            </div>
            <div class="user-name js-cust-name">李密</div>
            <div class="user-info js-cust-code">15374053543</div>
        </div>
        <!-- sidebar-user-info end  -->
        <ul class="sidebar-menu js-sidebar-menu">                      
        </ul>
        <ul class="js-menu-item-temp" style="display: none">
            <li class="item">
                    <a href="#" class="link" menuChildIdx="">主页</a>
            </li>
        </ul>
    </div>
    <!-- sidebar-main end -->
</div>
<!-- iot-page-sidebar end -->
<div class="iot-page-sub-sidebar js-page-sub-sidebar">
    <div class="sidebar-main js-sidebar-submenu">
    </div>
    <div style="display: none">
        <ul class="sidebar-menu js-submenu-temp" menuSubIdx="">
            <li class="item">
                <a href="modules/operationAnalysis/UserDayinfo/views/UserDayinfoView" class="link">用户情况日数据</a>
            </li>
        </ul>
    </div>
    <!-- sidebar-main end -->
</div>
<!-- iot-page-sub-sidebar end -->
<!-- 浮动子目录 -->
<div class="iot-page-sub-sidebar js-float">
    <div class="sidebar-main js-float-submenu">
    </div>
</div>
<div class="iot-page-container">
    <div class="iot-page-main">
        <div class="js-page-view"></div>
    </div>
    <!-- page-main end -->
</div>
<!-- iot-page-container end -->