<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">成员管理></a><span class="current">一键式诊断</span>
</div>
<div class="panel">
    <div class="panel-control-bar">
        <form action="" class="form-inline">
            <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入卡号">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button">故障诊断</button>
            </div>
        </form>
    </div>

</div>
<div class="diagnostics-group">
    <div class="row">
        <div class="col-xs-2">
            <div class="panel boxShdow-none">
                <div class="panel-heading">
                    <div class="card-info-title">
                        卡号信息
                    </div>
                </div>
                <div class="panel-body">
                    <table class="equipment-info">
                        <dl class="dl-horizontal">
                            <dt>卡号：</dt>
                            <dd>765758696999</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>ICCID：</dt>
                            <dd>1275188686652</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>IMSI：</dt>
                            <dd>669870808007</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>卡状态：</dt>
                            <dd><span class="states valid">有效</div></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>卡品牌：</dt>
                        <dd>移动</dd>
                    </dl>
                    <dl>
                        <dt>检测结果：</dt>
                        <dd>
                            <p>即便有上面给出的四组栅 格class，你也不免会碰到 一些问题，例如，在某些 阈值时，某些列可能会出 现比别的列高的情况.</p>
                        </dd>
                    </dl>
                </table>
                </div>
            </div>
        </div>
        <div class="col-xs-10">
        <div class="iot-panel-group">
        <div class="panel">
                <div class="panel-heading">
                    <div class="card-info-title">
                       卡账号信息
                    </div>
                </div>
            <div class="panel-body">
                    <div>
                     <div class="f14">账户余额<span class="f12 text-weaker-color">（单位元）</span></div>
                <div class="balance-of-account"><span class="f12">¥</span>6768.886</div>
            </div>
            <div>
                <div class="margin-lg-top">套餐列表</div>
                <div>
                    <ul class="set-meal-list">
                        <li class="list-item">
                            <a href="">套餐：50元一个月900分钟套餐：套餐：50元一个月900分钟套餐：50元一个月900分钟套餐：50元一个月900分钟套餐：50元一个月900分钟</a>
                        </li>
                        <li class="list-item">
                            <a href="">套餐：50元一个月900分钟</a>
                        </li>
                        <li class="list-item">
                            <a href="">套餐：50元一个月900分钟</a>
                        </li>
                        <li class="list-item">
                            <a href="">套餐：50元一个月900分钟</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <div class="card-info-title">
                设备信息
            </div>
        </div>
        <div class="panel-body">
            <table class="equipment-info">
                <tr>
                    <th>设备品牌：</th>
                    <td class="pdr100">iPhone 7 Plus</td>
                    <th>最近使用IMEI：</th>
                    <td class="pdr100">1278351986319</td>
                    <th>最近使用IMEI：</th>
                    <td>1278351986319</td>
                </tr>
                <tr>
                    <th>设备型号：</th>
                    <td>Plus</td>
                    <th>日期：</th>
                    <td>2017-12-13</td>
                    <th>日期：</th>
                    <td>2017-12-13</td>
                </tr>
                <tr>
                    <th>设备位置：</th>
                    <td>广东广州</td>
                </tr>
                <tr>
                    <th>检测结果：</th>
                </tr>
                <tr>   
                    <td colspan="2">暂无异常结果，属于正常范围</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <div class="card-info-title">网络资源信息</div>
            <div class="text-weaker-color">（本号码当月业务量）</div>
        </div>
        <div class="panel-body">
            <ul>
                <li class="net-resources-item">
                    <div class="use">语音使用量：</div>
                    <div class="clearfix po-box">
                        <div class="use-data fl">654<span class="text-weaker-color f12">分钟</span></div>
                        <div class="proess">
                            <div class="proess-inner"></div>
                        </div>
                    </div>
                    <div class="set-meal">套餐：50元一个月900分钟</div>
                </li>
                <li class="net-resources-item">
                    <div class="use">短信使用量:</div>
                    <div class="clearfix po-box">
                        <div class="use-data fl">1098<span class="text-weaker-color f12">分钟</span></div>
                        <div class="proess">
                            <div class="proess-inner"></div>
                        </div>
                    </div>
                    <div class="set-meal">套餐：50元一个月900分钟</div>
                </li>
                <li class="net-resources-item">
                    <div class="use">GPRS使用量：</div>
                    <div class="clearfix po-box">
                        <div class="use-data fl">38766<span class="text-weaker-color f12">分钟</span></div>
                        <div class="proess">
                            <div class="proess-inner"></div>
                        </div>
                    </div>
                    <div class="set-meal">套餐：50元一个月900分钟</div>
                </li>
            </ul>
        </div>

    </div>
        <div class="panel">
        <div class="panel-heading">
            <div class="card-info-title">
               通讯状态信息
            </div>
        </div>
        <div class="panel-body">
            <table class="equipment-info">
                <tr>
                    <th>短信测试：</th>
                    <td>877659867987699</td>
                    <td class="margin-sm-left"><a href="">测试</a></td>
                </tr>
                <tr>
                    <th>检测结果：</th>
                </tr>
                <tr>    
                    <td>正常</td>
                </tr>
            </table>
        </div>
    </div>
</div>
