<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">报表查询></a><a class="current">自助分析</a>
</div>
<div class="iot-panel-group" id="main">
    <div class="panel">
        <div class="panel-control-bar">
            <form class="form-inline" onkeydown="if(event.keyCode==13){return false;}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入报表名称" id="search_input" style="width:250px;">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="button" id="btn_search">查询</button>
                </div>
                <div class="form-group fr">
                    <button class="btn btn-default" type="button" id="btn_add"><i class="ico-download margin-sm-right"></i>新增报表</button>
                </div>
            </form>
            <input type="file" id="cust_mem_info_file" style="visibility:hidden;height:0px;">
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped" id="xtab">
        </table>
    </div>
    <div class="panel-footer clearfix" >
        <div class="page-foot-data">
            <span>共<span class="page-total-num">0</span>页</span>
            <span><span class="page-data-count">0</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination"></div>
            </div>
        </div>
    </div>
</div>
<div class="iot-panel-group" id="useReport" style="display:none">
	<div class="panel">
        <div class="panel-control-bar">
            <form id="attr_form" class="form-inline" onkeydown="if(event.keyCode==13){return false;}">
<!--                 <div class="form-group fr exp_div" > -->
<!--                     <button class="btn btn-default" type="button" id="btn_exp"><i class="ico-download margin-sm-right"></i>导出报表</button> -->
<!--                 </div> -->
            </form>
            <input type="file" id="cust_mem_info_file" style="visibility:hidden;height:0px;">
        </div>
    </div>
    <div class="panel panel-default" id="report_div">
<!--         <table class="table table-striped" id="xtab_1"> -->
<!--         </table> -->
    </div>
    <div class="panel-footer clearfix" >
        <div class="page-foot-data">
            <span>共<span class="page-total-num_1">0</span>页</span>
            <span><span class="page-data-count_1">0</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group col-md-14">
                <div id="pagination-demo" class="js-pagination_1"></div>
            </div>
        </div>
    </div>
</div>