<div class="iot-header-bar">
    <div class="header-bar clearfix">
        <div class="header-logo">
            <img src="../../../../frm/template/images/logo-Backstage.png" alt="">
        </div>
        <div class="header-info pull-right">
            您好!<a href="#" class="text-primary margin-sm-hori">李密</a>,上次登录时间是2017-07-25 14:01:10
            <a href="#" class="text-primary margin-sm-left">[个人设置]</a>
            <a href="#" class="text-primary margin-sm-left">[退出]</a>
            <a href="#" class="text-primary margin-sm-left">下载操作手册</a>
            <a href="#" class="btn-mode-day margin-sm-left"></a>
        </div>
    </div>
</div>
<!-- iot-header-bar end -->
<div class="iot-page-sidebar">
    <div class="sidebar-main">
        <div class="sidebar-user-info">
            <div class="img-user-avatar">
                <img src="../../../../frm/template/images/Bitmap.png" alt="">
            </div>
            <div class="user-name">李密</div>
            <span class="user-info">市场部</span>
            <i class="vtl-line"></i>
            <span class="user-info">普通员工</span>
        </div>
        <!-- sidebar-user-info end  -->
        <ul class="sidebar-menu js-sidebar-menu">
            <li class="item activtead">
                <a href="modules/formanage/indexPage/views/IndexView" class="link">主页</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="1">运营分析</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="2">客户管理</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="3">终端设备监控</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="4">产品管理</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="5">权限管理</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="6">系统管理</a>
            </li>
            <li class="item">
                <a href="#" class="link" menuChildIdx="7">弹窗</a>
            </li>
        </ul>
    </div>
    <!-- sidebar-main end -->
</div>
<!-- iot-page-sidebar end -->
<div class="iot-page-sub-sidebar js-page-sub-sidebar">
    <div class="sidebar-main">
        <ul class="sidebar-menu" menuSubIdx="1">
            <li class="item">
                <a href="modules/formanage/dateDataAnaly/views/dateDataAnalyView" class="link">用户情况日数据1</a>
            </li>
            <li class="item">
                <a href="#" class="link">用户情况月数据</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团流量日数据</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团流量月数据</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团短信日数据</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团短信月数据</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团语音日数据</a>
            </li>
            <li class="item">
                <a href="#" class="link">集团语音月数据</a>
            </li>
            <li class="item">
                <a href="modules/formanage/memberBusinessRanking/views/memberBusinessRankingView" class="link">成员业务量本月排行榜</a>
            <li class="item">
                <a href="modules/formanage/memberBusinessInquire/views/memberBusinessInquireView" class="link">成员业务查询</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="2">
            <li class="item">
                <a href="#" class="link">API能力月数据</a>
            </li>
            <li class="item">
                <a href="modules/formanage/clientList/views/clientListView" class="link">集团客户列表</a>
            </li>
            <li class="item">
                <a href="modules/formanage/clientInfo/views/groupClientView" class="link">集团客户</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="3">
            <li class="item">
                <a href="modules/formanage/equipmentAlarmInquire/views/equipmentAlarmInquireView" class="link">设备告警查询</a>
            </li>
            <li class="item">
                <a href="modules/formanage/equipmentIMEI/views/equipmentIMEIView" class="link">设备IMEI管理</a>
            </li>
            <li class="item">
                <a href="modules/formanage/clientInfo/views/clientInfoView" class="link">终端数据录入</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="4">

        <ul class="sidebar-menu" menuSubIdx="5">
            <li class="item">
                <a href="modules/formanage/organManagement/views/organManagementView" class="link">组织管理</a>
            </li>
            <li class="item">
                <a href="#" class="link">菜单管理</a>
            </li>
            <li class="item">
                <a href="#" class="link">角色管理</a>
            </li>
            <li class="item">
                <a href="modules/formanage/userManagement/views/userManagementView" class="link">用户管理</a>
            </li>
            <li class="item">
                <a href="#" class="link">白名单管理</a>
            </li>
            <li class="item">
                <a href="#" class="link">异动告警</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="6">
            <li class="item">
                <a href="#" class="link">定时任务管理</a>
            </li>
            <li class="item">
                <a href="#" class="link">缓存刷新</a>
            </li>
            <li class="item">
                <a href="modules/formanage/systemNotice/views/systemNoticeView" class="link">系统公告</a>
            </li>
        </ul>
        <ul class="sidebar-menu" menuSubIdx="7">
            <li class="item">
                <a href="modules/formanage/BApopup/views/popupMainView" class="link">弹窗</a>
            </li>
        </ul>
    </div>
    <!-- sidebar-main end -->
</div>
<!-- iot-page-sub-sidebar end -->
<div class="iot-page-container">
    <div class="iot-page-main">
        <div class="js-page-view"></div>
    </div>
    <!-- page-main end -->
</div>
<!-- iot-page-container end -->