<div class="iot-loaction-bar">
    当前位置：<a href="#" class="link-text">位置服务></a><a class="current">终端实时分布</a>
</div>


<div class="panel">
    <div class="panel-map-box">
        <img src="../../../../frm/template/images/map.png" alt="">
        <div class="search-box">
            <div class="search-box-inner">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入卡号查询">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="ico-search"></i></button>
                    </span>
                  </div> 
                </div>
        </div>
    </div>
</div>