<div class="logon_bgB">
  <div class="login-top">
    <div class="top-main">
      <div class="notice-list">
        <ul id="iot_notice_ul">
          <li>
            <!-- <p>
              <a href="javascript:void(0);" class="a_blue" title="物联网将在今天12至1点进行升级">
              物联网将在今天12至1点进行升级</a><span>2016-12-06</span>
            </p> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="login-main">
    <div class="login-header">
      <div class="login-logo">
        <img src="" alt="">
      </div>
    </div>
    <div class="clear-fix">
      <div class="login-content">
        <div class="login-title">
          <h3>
            <i class="line"></i>请登录<i class="line pull-r"></i>
          </h3>
        </div>
        <ul class="login-list">
          <li class="log-item-cell">
            <i class="log-item-ico ico-logon-users"></i>
            <label>
              <input style="font-size: 16px;" type="text" class="log-inp-text" placeholder="请输入用户名" id="user_name">
            </label>
          </li>
          <li class="log-item-cell">
            <i class="log-item-ico ico-logon-lock"></i>
            <label>
              <input style="font-size: 16px;" type="password" class="log-inp-text" placeholder="请输入密码" id="password">
            </label>
          </li>
          <!--<li class="log-item-code">
            <div class="log-item-cell">
              <i class="log-item-ico ico-logon-vcode"></i>
              <label>
                <input style="font-size: 16px;" type="text" class="log-inp-text" placeholder="请输入验证码" name="verifyCode" id="verifyCode">
              </label>
            </div>
            <button class="log-submit-btn" type="button" id="getCode" value="点击获取">点击获取</button>
          </li>-->
        </ul>
        <div class="login-bottom">
          <button class="log-submit-btn" type="button" id="btn_login">登录</button>
        </div>
        <div class="login-tips">
          <a href="modules/reset_password/templates/reset-password.html" class="link">忘记密码?</a>
        </div>
      </div>
    </div>
  </div>
</div>