<div class="panel">
	<div class="panel-control-bar">
		<form class="form-inline">
			<div class="pull-right">
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-plus"></span>
					新增公告
				</button>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="" placeholder="输入查询内容">
			</div>
			<div class="form-group">
				<button class="btn btn-primary">查询</button>
			</div>
		</form>
	</div>
	<div class="divide-line"></div>
	<div class="padding-md">
			<div class="block-divide-wrap">
				<ul class="block-divide-list">
					<li class="list-item">
						<div class="margin-btm clearfix">
							<div class="pull-right title-control-bar">
								<a href="" class="link margin-lg-left">编辑</a>
								<a href="" class="link margin-lg-left">删除</a>
							</div>
							<span class="block-title" title="物联网自服务门户将于今天19点至21点进行版本升级">物联网自服务门户将于今天19点至21点进行版本升级物联网自服务门户将于今天19点至21点进行版本升级物联网自服务</span>
							<!-- 洪嘉的意思是标题栏不能折行，多出来的文字用点点点表示 -->
							<span class="states valid">有效</span>
						</div>
						<div class="text-muted">
							创建时间：2017-08-09&nbsp;12:12:12
						</div>
						<div class="margin-top text-weaker-color">
							洪嘉的意思是
						</div>
					</li>
					<li class="list-item">
						<div class="margin-btm clearfix">
							<div class="pull-right title-control-bar">
								<a href="" class="link margin-lg-left">编辑</a>
								<a href="" class="link margin-lg-left">删除</a>
							</div>
							<span class="block-title" title="物联网自服务门户将于今天19点至21点进行版本升级">物联网自服务门户将于今天19点至21点进行版本升级</span>
							<span class="states valid">有效</span>
							<!-- 只能在一行内显示，多出的请用...表示 -->
						</div>
						<div class="text-muted">
							创建时间：2017-08-09&nbsp;12:12:12
						</div>
						<div class="margin-top text-weaker-color">
							爱词霸英语为广大网友提供在线翻译、在线词典、英语口语、英语学习资料、汉语词典,金山词霸下载等服务,致力于为您提供优质权威的在线英语服务,是
		5000万英语学习者的爱词霸英语为广大网友提供在线翻译、在线词典、英语口语、英语学习资料、汉语词典,金山词霸下载等服务,致力于为您提供...<a href="javascript:void();" class="link">展开></a>
						</div>
						<!-- 只能是在三行内显示，超过加上展开 -->
					</li>
					<li class="list-item">
						<div class="margin-btm clearfix">
							<div class="pull-right title-control-bar">
								<a href="" class="link margin-lg-left">编辑</a>
								<a href="" class="link margin-lg-left">删除</a>
							</div>
							<span class="block-title" title="物联网自服务门户将于今天19点至21点进行版本升级">物联网自服务门户将于今天19点至21点进行版本升级</span>
							<span class="states invalid">无效</span>
							<!-- 只能在一行内显示，多出的请用...表示 -->
						</div>
						<div class="text-muted">
							创建时间：2017-08-09&nbsp;12:12:12
						</div>
						<div class="margin-top text-weaker-color">
							爱词霸英语为广大网友提供在线翻译、在线词典、英语口语、英语学习资料、汉语词典,金山词霸下载等服务,致力于为您提供优质权威的在线英语服务,是
		5000万英语学习者的爱词霸英语为广大网友提供在线翻译、在线词典、英语口语、英语学习资料、汉语词典,金山词霸下载等服务,致力于为您提供霸下载等服务,致力于为您提供优质权威的在线英语服务,是
		5000万英语学习者的爱词霸英语为广大网友提供在线翻译、在线词典、英语口语、英语学习资料、汉语词典,金山词霸下载等服务,致力于为您提供<a href="javascript:void;">收起></a>	
						</div>
					</li>
				</ul>
				<div class="load-more">剩余2316条，<a href="#" class="text-brand-primary">加载更多&gt;</a></div>
			</div>
	</div>
	
</div>