<div class="modal-header clearfix">
    <span class="modal-title">添加告警配置</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <form action="">
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>配置名称<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control" placeholder="12142346755">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>业务类型<span class="text-danger">*</span>：</label>
                            <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                               </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>限制属性<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control" placeholder="18098765643">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>限制值<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control" placeholder="787664543353@qq.com">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>值单位<span class="text-danger">*</span>：</label>
                            <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                               </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>状态：</label>
                            <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                               </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>备注：</label>
                    <textarea class="form-control" rows="6" placeholder="输入信息～"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group no-margin-bottom">
            <label>选择成员<span class="text-danger">*</span>：</label>
            <div>
                <label><input class="js-check margin-md-right" type="radio" name=""></label>全部成员
            </div>
            <div>
                <label><input class="js-check margin-md-right" type="radio" name=""></label>选择部分成员<a href="#" class="margin-lg-left">选择成员</a>
            </div>
            <div>
                 <label><input class="js-check margin-md-right" type="radio" name=""></label>上传Excel<a href="#" class="margin-lg-left">选择附件</a>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer clearfix">
    <div class="form-group no-margin-bottom fr">
        <button class="btn btn-primary" type="button">确定</button>
        <button class="btn btn-default" type="button">取消</button>
    </div>
</div>