<div class="modal-header clearfix">
    <span class="modal-title">修改集团成员信息</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">

    <form action="">
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>卡号：</label>
                            <input type="text" class="form-control" placeholder="12142346755">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>业卡品牌类型：</label>
                            <input type="text" class="form-control" placeholder="12142346755">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>成员名称：</label>
                            <input type="text" class="form-control" placeholder="集团用户的卡">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>成员状态：</label>
                            <select name="" class="form-control js-selectmenu">
                                     <option value="">有效</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>ICCID：</label>
                            <input type="text" class="form-control" placeholder="18098765643">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>IMSI：</label>
                            <input type="text" class="form-control" placeholder="904-254-6839">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>号码状态：</label>
                            <select name="" class="form-control js-selectmenu">
                                     <option value="">正常</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>开户时间：</label>
                            <div class="input-group">
                                <input type="text" class="form-control js-date">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>短信端口号：</label>
                            <input type="text" class="form-control" placeholder="18098765643">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>网络类型：</label>
                            <select name="" class="form-control js-selectmenu">
                                     <option value="">类型一</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>号码开卡营业厅归属区：</label>
                            <select name="" class="form-control js-selectmenu">
                                     <option value="">上海</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>GPRS最后一次上线时间：</label>
                            <div class="input-group">
                                <input type="text" class="form-control js-date">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="margin-lg-right">开通业务<span class="text-danger">*</span>：</label>
            <label class="margin-lg-right">
                 <input class="js-check" type="checkbox" name="">GPRS服务
            </label>
            <label class="margin-lg-right">
                 <input class="js-check" type="checkbox" name="">短信功能
            </label>
            <label>
                 <input class="js-check" type="checkbox" name="">语言功能
            </label>
        </div>
        <div class="form-group">
            <label class="margin-lg-right">开机状态<span class="text-danger">*</span>：</label>
            <label class="margin-lg-right">
                 <input class="js-check margin-md-right" type="radio" name="">状态一
            </label>
            <label class="margin-lg-right">
                <input class="js-check margin-md-right" type="radio" name="">状态二
            </label>
        </div>
        <div class="form-group">
            <label class="margin-lg-right">GPRS是否在线<span class="text-danger">*</span>：</label>
            <label class="margin-lg-right">
                 <input class="js-check margin-md-right" type="radio" name="">是
            </label>
            <label class="margin-lg-right">
                <input class="js-check margin-md-right" type="radio" name="">否
            </label>
        </div>
        <div class="form-group">
            <label class="margin-lg-right">是否沉默用户<span class="text-danger">*</span>：</label>
            <label class="margin-lg-right">
                 <input class="js-check margin-md-right" type="radio" name="">是
            </label>
            <label class="margin-lg-right">
                <input class="js-check margin-md-right" type="radio" name="">否
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>备注：</label>
                    <textarea class="form-control" rows="5" placeholder="输入信息～"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="form-group no-margin-bottom">
        <button class="btn btn-primary" type="button">保存</button>
        <button class="btn btn-primary" type="button">取消</button>
    </div>
</div>