<div class="modal-header clearfix">
    <span class="modal-title">编辑产品</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">

    <div class="ui-tabs js-search-tabs">
        <ul class="ui-tabs-nav">
            <li class="ui-tabs-active">
                <a href="">基本信息</a>
            </li>
            <li>
                <a href="">产品属性</a>
            </li>
            <li>
                <a href="">产品关系</a>
            </li>
        </ul>
        <div class="ui-tabs-panel">
            <div class="edit-product">
                <form action="">
                    <div class="row">
                        <div class="compile-app clearfix">
                            <div class="col-xs-4">
                                <div class="app-name">
                                    <div class="form-group">
                                        <label>产品名称<span class="text-danger">*</span>：</label>
                                        <input type="text" class="form-control" placeholder="18098765643">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="app-adress">
                                    <div class="form-group">
                                        <label>产品编码：</label>
                                        <input type="text" class="form-control" placeholder="18098765643">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="app-adress">
                                    <div class="form-group">
                                        <label>产品分类<span class="text-danger">*</span>：</label>
                                        <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                               </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="compile-app clearfix">
                            <div class="col-xs-4">
                                <div class="app-name">
                                    <div class="form-group">
                                        <label>产品包编号：</label>
                                        <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                               </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="app-adress">
                                    <div class="form-group">
                                        <label>是否必选<span class="text-danger">*</span>：</label>
                                        <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                               </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="app-adress">
                                    <div class="form-group">
                                        <label>是否仅11位号码可选：</label>
                                        <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                               </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="compile-app clearfix">
                            <div class="col-xs-4">
                                <div class="app-name">
                                    <div class="form-group">
                                        <label>产品类型<span class="text-danger">*</span>：</label>
                                        <input type="text" class="form-control" placeholder="18098765643">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="app-adress">
                                    <div class="form-group">
                                        <label>订购生效方式：</label>
                                        <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                               </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label>备注：</label>
                                <textarea class="form-control" rows="6" placeholder="输入信息～"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--ui-tabs-panel end-->
        <div class="ui-tabs-panel">
            <div class="edit-product clearfix">
                <div class="property-detail">

                    <form action="">
                        <div class="row">
                            <div class="compile-app clearfix">
                                <div class="col-xs-6">
                                    <div class="app-name">
                                        <div class="form-group">
                                            <label>属性名称<span class="text-danger">*</span>：</label>
                                            <input type="text" class="form-control" placeholder="18098765643">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="app-adress">
                                        <div class="form-group">
                                            <label>属性编号：：</label>
                                            <input type="text" class="form-control" placeholder="18098765643">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="compile-app clearfix">
                                <div class="col-xs-4">
                                    <div class="app-name">
                                        <div class="form-group">
                                            <label>默认值：</label>
                                            <input type="text" class="form-control" placeholder="1231">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="app-adress">
                                        <div class="form-group">
                                            <label>输入类型<span class="text-danger">*</span>：</label>
                                            <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                               </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="app-adress">
                                        <div class="form-group">
                                            <label>输入长度<span class="text-danger">*</span>：</label>
                                            <input type="text" class="form-control" placeholder="20">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="compile-app clearfix">
                                <div class="col-xs-6">
                                    <div class="app-name">
                                        <div class="form-group">
                                            <label>是否必填<span class="text-danger">*</span>：</label>
                                            <input type="text" class="form-control" placeholder="2">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="app-adress">
                                        <div class="form-group">
                                            <label><i class=""></i>输入范围限制：</label>
                                            <input type="text" class="form-control" placeholder="查找">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>备注：</label>
                                    <textarea class="form-control" rows="8" placeholder="输入信息～"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group no-margin-bottom">
                            <button class="btn btn-default" type="button">保存</button>
                            <button class="btn btn-default" type="button">取消</button>
                            <button class="btn btn-default" type="button">新增</button>
                        </div>
                    </form>

                </div>
                <div class="property-list">
                    <div class="fwb margin-sm-btm">属性列表</div>
                    <div>
                        <ul>
                            <li class="list-item">
                                <div class="fwb text-omit">属性一的名称</div>
                                <div class="text-weaker-color">编码：1672543815654</div>
                                <div class="margin-md-top"><a href="#" class="margin-md-right">修改</a><a href="#">删除</a></div>
                            </li>
                            <li class="list-item">
                                <div class="fwb text-omit">属性一的名称</div>
                                <div class="text-weaker-color">编码：1672543815654</div>
                                <div class="margin-md-top"><a href="#" class="margin-md-right">修改</a><a href="#">删除</a></div>
                            </li>
                            <li class="list-item">
                                <div class="fwb text-omit">属性一的名称</div>
                                <div class="text-weaker-color">编码：1672543815654</div>
                                <div class="margin-md-top"><a href="#" class="margin-md-right">修改</a><a href="#">删除</a></div>
                            </li>
                            <li class="list-item">
                                <div class="fwb text-omit">属性一的名称</div>
                                <div class="text-weaker-color">编码：1672543815654</div>
                                <div class="margin-md-top"><a href="#" class="margin-md-right">修改</a><a href="#">删除</a></div>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>


        </div>
        <!--ui-tabs-panel end-->
        <div class="ui-tabs-panel">
            <div class="edit-product">
                <div class="product-ralation-list">
                    <ul>
                        <li class="active ralation-list">强依赖列表</li>
                        <li class="ralation-list">弱依赖列表</li>.
                        <li class="ralation-list">互斥列表</li>
                    </ul>
                </div>
                <div>
                    <form action="">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="select-list choosable">可选列表</div>
                                <div class="choosable-tree"></div>
                            </div>
                            <div class="col-xs-6">
                                <div class="select-list choosen">已选列表</div>
                                <div class="choosen-tree"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!--ui-tabs-panel end-->
    </div>



</div>
<div class="modal-footer">
    <div class="form-group no-margin-bottom">
        <button class="btn btn-primary" type="button">保存</button>
        <button class="btn btn-default" type="button">取消</button>
    </div>
</div>