<div class="modal-header clearfix">
    <span class="modal-title">集团成员信息</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border">
    <div class="form-group">
        <label>卡号:</label>
        <span class="text-weaker-color">7123418438715</span>
    </div>
    <div class="form-group">
        <label>卡状态类型</label>
        <span class="text-weaker-color">本地卡</span>
    </div>
    <div class="form-group">
        <label>成员名称：</label>
        <span class="text-weaker-color">集团用户的卡</span>
    </div>
    <div class="form-group">
        <label>成员状态：</label>
        <span class="text-weaker-color">有效</span>
    </div>
    <div class="form-group">
        <label>ICCID：</label>
        <span class="text-weaker-color">7123418438715</span>
    </div>
    <div class="form-group">
        <label>IMSI：</label>
        <span class="text-weaker-color">7123418438715</span>
    </div>
    <div class="form-group">
        <label>号码状态：</label>
        <span class="text-weaker-color">正常</span>
    </div>
    <div class="form-group">
        <label>开户时间：</label>
        <span class="text-weaker-color">2017-06-16</span>
    </div>
    <div class="form-group">
        <label>短信端口号：</label>
        <span class="text-weaker-color">7865298176201401</span>
    </div>
    <div class="form-group">
        <label>网络类型：</label>
        <span class="text-weaker-color">类型一</span>
    </div>
    <div class="form-group">
        <label>号码开卡营业厅归属区：</label>
        <span class="text-weaker-color">上海</span>
    </div>
    <div class="form-group">
        <label>GPRS最后一次上线时间：</label>
        <span class="text-weaker-color">2017-04-23</span>
    </div>
    <div class="form-group">
        <label>开通的业务：</label>
        <span class="text-weaker-color">GPRS服务／短信功能／语言功能</span>
    </div>
    <div class="form-group">
        <label>开机状态：</label>
        <span class="text-weaker-color">状态一</span>
    </div>
    <div class="form-group">
        <label>GPRS是否在线：</label>
        <span class="text-weaker-color">是</span>
    </div>
    <div class="form-group">
        <label>是否沉默用户：</label>
        <span class="text-weaker-color">否</span>
    </div>

    <div class="form-group no-margin-bottom">
        <label>备注：</label>
        <div class="text-weaker-color">老夏你放心好好地走: 台海网6月18日讯 据海西晨报报道 6月16日,台湾 网红爷爷老夏的孙女发布
        </div>
    </div>

</div>


    <div class="modal-footer">
        <div class="form-group no-margin-bottom">
            <button class="btn btn-primary" type="button">修改</button>
        </div>
    </div>