<div class="modal-header clearfix">
    <span class="modal-title">新增菜单</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <form action="">
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>名称<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control" placeholder="12142346755">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>图标：</label>
                            <input type="text" class="form-control" placeholder="12142346755">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>展示类型<span class="text-danger">*</span>：</label>
                            <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                               </select>

                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>运营类型：</label>
                            <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                               </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>显示顺序<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control" placeholder="2">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>归属目录：</label>
                            <select name="" class="form-control js-selectmenu">
                                     <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>链接页面<span class="text-danger">*</span>：</label>
                    <input type="text" class="form-control" placeholder="https://10.45.47.91:13001/iotmanage/index.html">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>子页面<span class="text-danger">*</span>：</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="https://10.45.47.91:13001/iotmanage/index.html">
                        <div class="input-group-addon no-border-no-bg no-padding">
                            <i class="ico-del-b margin-sm-left"></i>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>子页面<span class="text-danger">*</span>：</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="https://10.45.47.91:13001/iotmanage/index.html">
                        <div class="input-group-addon no-border-no-bg no-padding">
                            <i class="ico-add-b margin-sm-left"></i>
                            <i class="ico-del-b margin-sm-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>描述：</label>
                    <textarea class="form-control" rows="6" placeholder="输入信息～"></textarea>
                </div>
            </div>
        </div>
    </form>


</div>
<div class="modal-footer">
    <div class="form-group no-margin-bottom">
        <button class="btn btn-primary" type="button">保存</button>
        <button class="btn btn-default" type="button">取消</button>
    </div>
</div>