<div class="modal-header clearfix">
    <span class="modal-title">新增关联角色</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <div class="panel clearfix">
            <div class="relate-role">
                <div class="side-bar-tree">
                    <div class="company-tree"></div>
                </div>
            </div>
            <div class="relate-role-form">
                <div class="iot-panel-group bdl">
                    <div class="panel">
                        <div class="panel-control-bar">
                            <form class="form-inline">
                                <div class="form-group role-name">
                                    <select name="" class="form-control js-selectmenu">
                                <option value="">组织名称</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="请输入组织结构">
                                    </div>
                                </div>
                                <div class="form-group fr">
                                    <button class="btn btn-primary" type="button">查询</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">

                        <table class="table table-striped organ-table">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="no-margin-bottom">
                                               <input class="js-check" type="checkbox" name="" >
                                        </label>
                                    </th>
                                    <th>角色ID</th>
                                    <th>角色名称</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="no-margin-bottom">
                                               <input class="js-check" type="checkbox" name="" >
                                        </label>
                                    </td>
                                    <td>922-048-4402</td>
                                    <td>段阳阳</td>
                                    <td class="text-success">有效</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="no-margin-bottom">
                                               <input class="js-check" type="checkbox" name="" >
                                        </label>
                                    </td>
                                    <td>922-048-4402</td>
                                    <td>段阳阳</td>
                                    <td class="text-success">有效</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="no-margin-bottom">
                                               <input class="js-check" type="checkbox" name="" >
                                        </label>
                                    </td>
                                    <td>922-048-4402</td>
                                    <td>段阳阳</td>
                                    <td class="text-danger">无效</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="no-margin-bottom">
                                               <input class="js-check" type="checkbox" name="" >
                                        </label>
                                    </td>
                                    <td>922-048-4402</td>
                                    <td>段阳阳</td>
                                    <td class="text-success">有效</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="no-margin-bottom">
                                               <input class="js-check" type="checkbox" name="" >
                                        </label>
                                    </td>
                                    <td>922-048-4402</td>
                                    <td>段阳阳</td>
                                    <td class="text-success">有效</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="no-margin-bottom">
                                               <input class="js-check" type="checkbox" name="" >
                                        </label>
                                    </td>
                                    <td>922-048-4402</td>
                                    <td>段阳阳</td>
                                    <td class="text-success">有效</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer clearfix page-foot">
                        <div class="page-foot-data">
                            <span>共<span class="page-total-num">2</span>页</span>
                            <span><span class="page-data-count">23</span>条数据</span>
                        </div>
                        <div class="page-foot-form">
                            <div class="input-group col-md-14">
                                <div id="pagination-demo" class="js-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="modal-footer clearfix">
    <div class="form-group no-margin-bottom fr">
        <button class="btn btn-primary" type="button">确定</button>
        <button class="btn btn-default" type="button">取消</button>
    </div>
</div>