<div class="modal-header clearfix">
    <span class="modal-title">新增角色</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <form action="">

        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>角色名称<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control" placeholder="12142346755">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>所属组织：</label>
                            <input type="text" class="form-control" placeholder="12142346755">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>描述：</label>
                    <textarea class="form-control" rows="6" placeholder="输入信息～"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="select-list choosable">可选列表</div>
                <div class="choosable-tree"></div>
            </div>
            <div class="col-xs-6">
                <div class="select-list choosen">已选列表</div>
                <div class="choosen-tree"></div>
            </div>
        </div>











    </form>
</div>
<div class="modal-footer clearfix">
    <div class="form-group no-margin-bottom fr">
        <button class="btn btn-primary" type="button">确定</button>
        <button class="btn btn-default" type="button">取消</button>
    </div>
</div>