<div class="panel panel-default">
	<div class="panel-heading">
		<span class="panel-title">弹层实例</span>
	</div>
	<div class="panel-body">
		<button class="btn btn-default js-add-warn-configure" type="button">添加告警配置</button>
		<button class="btn btn-default js-edit-product" type="button">编辑产品</button>
		<button class="btn btn-default js-new-role" type="button">新增角色</button>
		<button class="btn btn-default js-new-relate-role" type="button">新增关联角色</button>
		<button class="btn btn-default js-new-menu" type="button">新增菜单</button>
		<button class="btn btn-default js-user-detail" type="button">用户详情</button>
		<button class="btn btn-default js-user-detail-two" type="button">用户详情2</button>
		<button class="btn btn-default js-new-notice" type="button">新增公告</button>
		<button class="btn btn-default js-group-member-info" type="button">集团成员信息</button>
		<button class="btn btn-default js-change-group-member-info" type="button">修改集团成员信息</button>
		<button class="btn btn-default js-terminal-info-enter" type="button">终端信息录入</button>
		
	</div>
</div>
