<div class="modal-header clearfix">
    <span class="modal-title">终端信息录入</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border clearfix">
    <form action="">
        <div class="row">
            <div class="compile-app clearfix">
                <div class="col-xs-6">
                    <div class="app-name">
                        <div class="form-group">
                            <label>终端类型<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control" placeholder="12142346755">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="app-adress">
                        <div class="form-group">
                            <label>终端型号<span class="text-danger">*</span>：</label>
                            <input type="text" class="form-control" placeholder="787664543353@qq.com">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>厂商名称<span class="text-danger">*</span>：</label>
                    <input type="text" class="form-control" placeholder="广州中兴软创科技股份有限公司">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer clearfix">
    <div class="form-group no-margin-bottom fl">
        <button class="btn btn-default" type="button"><i class="ico-download margin-sm-right"></i>下载模版</button>
        <button class="btn btn-default" type="button"><i class="ico-upload margin-sm-right"></i>批量上传终端信息</button>
    </div>
    <div class="form-group no-margin-bottom fr">
        <button class="btn btn-primary" type="button">提交</button>
    </div>
</div>