<div class="modal-header clearfix">
    <span class="modal-title">用户详情</span>
    <i class="fr ico-close"></i>
</div>
<div class="modal-body none-border">

    <div class="user-detail-list clearfix">
        <ul class="">
            <li class="list-item">
                <a href="">详细信息</a>
            </li>
            <li class="list-item">
                <a href="">角色分配</a>
            </li>
        </ul>
        <div class="form-group fr no-margin-bottom margin-sm-top">
            <button class="btn btn-default" type="button"><i class="ico-add-gray margin-sm-right"></i>新增关联角色</button>
        </div>
    </div>

    <div class="panel panel-default">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>角色ID</th>
                    <th>角色ID</th>
                    <th>默认角色</th>
                    <th>状态</th>
                    <th class="text-right">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-weaker-color">8852</td>
                    <td>通知</td>
                    <td class="text-weaker-color">Saint Lucia</td>
                    <td class="text-weaker-color">Palau</td>
                    <td class="text-right">
                        <a href="#" class="margin-right">详情</a>
                        <a href="#">设为默认</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-weaker-color">8852</td>
                    <td>通知</td>
                    <td class="text-weaker-color">Saint Lucia</td>
                    <td class="text-weaker-color">Palau</td>
                    <td class="text-right">
                        <a href="#" class="margin-right">详情</a>
                        <a href="#">设为默认</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-weaker-color">8852</td>
                    <td>通知</td>
                    <td class="text-weaker-color">Saint Lucia</td>
                    <td class="text-weaker-color">Palau</td>
                    <td class="text-right">
                        <a href="#" class="margin-right">详情</a>
                        <a href="#" class="text-danger">取消默认</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-weaker-color">8852</td>
                    <td>通知</td>
                    <td class="text-weaker-color">Saint Lucia</td>
                    <td class="text-weaker-color">Palau</td>
                    <td class="text-right">
                        <a href="#" class="margin-right">详情</a>
                        <a href="#">设为默认</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-weaker-color">8852</td>
                    <td>通知</td>
                    <td class="text-weaker-color">Saint Lucia</td>
                    <td class="text-weaker-color">Palau</td>
                    <td class="text-right">
                        <a href="#" class="margin-right">详情</a>
                        <a href="#">设为默认</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-weaker-color">8852</td>
                    <td>通知</td>
                    <td class="text-weaker-color">Saint Lucia</td>
                    <td class="text-weaker-color">Palau</td>
                    <td class="text-right">
                        <a href="#" class="margin-right">详情</a>
                        <a href="#">设为默认</a>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix page-foot">
        <div class="page-foot-data">
            <span>共<span class="page-total-num">2</span>页</span>
            <span><span class="page-data-count">23</span>条数据</span>
        </div>
        <div class="page-foot-form">
            <div class="input-group">
                <div class="js-pagination"></div>
            </div>
        </div>
    </div>


</div>
